@{ GladcherryShopping.Models.ApplicationDbContext content = new GladcherryShopping.Models.ApplicationDbContext();}
@using System.Data.Entity;
@{
    ViewBag.Title = "موتورتو | فروش آنلاین قطعات خودرو";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var slider = content.Sliders.Where(current => current.IsApp == true).OrderByDescending(current => current.LastDate);
    var application = content.Applications.FirstOrDefault();
    DataLayer.Models.Product wonder = content.Products.Include(current => current.category).Where(current => current.Stock > 0 && current.AppLargeImage != null && current.IsWonderful == true && current.Day != null && current.Minute != null && current.Hour != null).FirstOrDefault();
}
@section Metas{
    <meta name="description" content="فروشگاه اینترنتی موتورتو فعال در زمینه فروش انواع قطعات مصرفی خودرو شامل فیلتر روغن ، فیلتر هوا ، فیلتر بنزین ، فیلتر کابین ، روغن موتور و روانکار و غیره است .">
    <meta name="Keywords" content="قطعات مصرفی خودرو">
    <meta property="og:title" content="موتورتو ، فروش آنلاین قطعات خودرو | Motoreto" />
    <meta property="og:url" content="http://www.motoreto.ir/" />
    <meta property="og:image" content="http://www.motoreto.ir/images/sadr_logo.png" />
    <meta name="twitter:image" content="موتورتو ، فروش آنلاین قطعات خودرو | Motoreto">
}
@section Styles{
    <script type="application/ld+json">
        {
        "@@context": "http://schema.org",
        "@@type": "Organization",
        "name": "موتورتو",
        "description": "موتورتو ، فروش آنلاین قطعات خودرو | Motoreto",
        "logo": "http://www.motoreto.ir/images/sadr_logo.png",
        "url": "http://www.motoreto.ir",
        "sameAs": [ "https://www.instagram.com/motoreto.ir",
        "https://telegram.me/motoreto.ir"],
        "address": "تجریش خیابان شهرداری ساختمان 110",
        "contactPoint": [{
        "@@type": "ContactPoint",
        "telephone": ["+98-21-22735588"],
        "contactType": "customer service"
        }]
        }
    </script>
    <link rel="stylesheet" type="text/css" href="~/library/engine1/style.css" />
    <link href="~/Content/Professor/assets/css/form-elements.css" rel="stylesheet" />
    <link href="~/Content/Professor/assets/css/style.css" rel="stylesheet" />
    <link href="~/Content/Professor/assets/css/media-queries.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.0/animate.compat.min.css" integrity="sha256-Qj+zEEvubER4lO5l200c3UfufBOsKTgpsgJU0/t3CoU=" crossorigin="anonymous" />
    <style>
        .d-md-flex {
            display: flex;
            justify-content: center;
        }
    </style>
}
<br />
<div class="promo-area gold-bg firstshow">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="text-center main_h1">
            <h1 title="موتورتو ، فروش آنلاین قطعات خودرو | Motoreto">موتورتو ، فروش آنلاین قطعات خودرو | Motoreto</h1>
            <h2>هوای ماشینتو داریم</h2>
            <div class="wow bounceIn">
                <img src="~/images/sadr_logo.png" width="100" height="100" class="spin-slow" alt="موتورتو"
                     style="background-color:#ffffff;border-radius:25px;" />
            </div>
        </div>
    </div>
</div>
@if (slider.Count() > 0)
{
    <br />
    <br />
    int i = 0;
    int j = 0;
    <!-- Start WOWSlider.com BODY section -->
    <div class="container">
        <div id="wowslider-container1">
            <div class="ws_images">
                <ul>
                    @foreach (var item in slider.ToList())
                    {
                        if (string.IsNullOrEmpty(item.Link))
                        {
                            <li>
                                <a href="#">
                                    <img src="@Url.Content(item.Image)" alt="موتورتو" title="موتورتو" id="wows1_@i" />
                                </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="@item.Link">
                                    <img src="@Url.Content(item.Image)" alt="موتورتو" title="موتورتو" id="wows1_@i" />
                                </a>
                            </li>
                        }
                        i++;
                    }
                </ul>
            </div>
            <div class="ws_bullets">
                <div>
                    @foreach (var item in slider.ToList())
                    {
                        if (string.IsNullOrEmpty(item.Link))
                        {
                            <a href="#">
                                <span>
                                    <img src="@item.Image" alt="موتورتو" title="موتورتو" />
                                </span>
                            </a>
                        }
                        else
                        {
                            <a href="@item.Link" title="موتورتو">
                                <span>
                                    <img src="@item.Image" alt="موتورتو" title="موتورتو" />
                                </span>
                            </a>
                        }
                        j++;
                    }
                </div>
            </div>
            <div class="ws_shadow"></div>
        </div>
        <!-- End WOWSlider.com BODY section -->
    </div>
    <br />
}

<div class="container">
    <div class="alert-custom wow fadeInUp" data-wow-delay="0.5s">
        <span>تمامی خدمات تعمیر و تعویض توسط <b>موتورتو</b> در محل شما انجام می‌شود .</span>
        <i class="fa fa-wrench"></i>
    </div>
</div>
<div class="banner_gldchpvt position-relative">
    <div class="container rtl-direction">
        <div class="row">
            <div class="col-md-12 col-xs-12 pull-right">
                <div class="d-md-flex">
                    <div class="gldch_banner_txt">
                        <h3 class="gldch_pvt-title">هرگونه کالایی را در موتورتو پیدا کنید</h3>
                        <p class="text-sty-banner">پس از ثبت سفارش با بالاترین سرعت محصولات به دست شما میرسد</p>
                        <br />
                        <div class="text-center">
                            <form autocomplete="off" action="/home/search" method="get" id="main_search">
                                <div class="autocomplete" style="width:100%;">
                                    <select class="js-example-data-ajax" name="id" required>
                                        <option selected value="">به چه محصولاتی نیاز دارید ؟</option>
                                    </select>
                                    <button type="submit" class="btn button-style">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div><br />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container categories-section" id="categories">
    @*<h3 class="section-title text-center">دسته‌بندی محصولات</h3>*@
    <div class="categories-grid">
        @foreach (var cat in content.Categories
                                   .Where(c => c.ParentId == null)
                                   .OrderBy(c => c.PersianName == "سایر قطعات" ? 1 : 0) // سایر قطعات آخر
                                   .ToList())
        {
            <div class="category-card" data-toggle="modal" data-target="#modal-@cat.Id">
                <img src="@(string.IsNullOrEmpty(cat.SmallImage) ? Url.Content("~/images/sadr_logo.png") : cat.SmallImage)"
                     alt="@cat.PersianName" title="@cat.PersianName" />
                <h4>@cat.PersianName</h4>
            </div>

            <!-- Modal -->
            <div class="modal fade subcategory-modal" id="modal-@cat.Id" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">@cat.PersianName</h5>
                        </div>
                        <div class="modal-body" id="modal-content-category">
                            <input type="text" class="form-control mb-10 subcat-search"
                                   placeholder="جستجو ..." data-target="#list-@cat.Id" />
                            <div id="list-@cat.Id" class="subcat-scroll">
                                <ul class="subcat-items"></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<br />
<br />
<!-- Marquee Section -->
<section class="marquee">
    <div class="marquee__inner" aria-hidden="true">
        <ul class="marquee__track">
            <li>اصالت کالا</li>
            <li>زیر قیمت بازار</li>
            <li>نصب و تعویض در محل</li>
            <li>ارسال سریع</li>
            <li>پشتیبانی ۲۴/۷</li>
            <li>اصالت کالا</li>
            <li>زیر قیمت بازار</li>
            <li>نصب و تعویض در محل</li>
            <li>ارسال سریع</li>
            <li>پشتیبانی ۲۴/۷</li>
            <li>اصالت کالا</li>
            <li>زیر قیمت بازار</li>
            <li>نصب و تعویض در محل</li>
            <li>ارسال سریع</li>
            <li>پشتیبانی ۲۴/۷</li>
        </ul>
    </div>
</section>

<br />
<div class="container">
    <h3 class="section-title text-center">دسته‌بندی بر اساس نوع خودرو</h3>
    <div class="car-slider-wrapper">
        <button class="car-prev">›</button>
        @{
            var carCats = content.Categories
                .AsNoTracking()
                .Where(c => c.ParentId != null)
                .GroupBy(s => s.PersianName)
                .Select(g => g.FirstOrDefault())
                .OrderBy(s => s.PersianName == "بدون مدل" ? 1 : 0)
                .ThenBy(s => s.PersianName)
                .ToList();
        }
        <div class="car-slider">
            @foreach (var sub in carCats)
            {
                <div class="car-category-item text-center">
                    <a href="/product/bycar/@Uri.EscapeDataString(sub.PersianName)">
                        <div class="car-circle">
                            <img src="@(string.IsNullOrEmpty(sub.SmallImage) ? Url.Content("~/images/sadr_logo.png") : sub.SmallImage)"
                                 alt="@sub.PersianName" title="@sub.PersianName" />
                        </div>
                        <h5 class="car-name">@sub.PersianName</h5>
                    </a>
                </div>
            }
        </div>

        <button class="car-next">‹</button>
    </div>
</div>

@if (wonder != null)
{
    if (DateTime.Now.Date < wonder.WonderDate.Value.AddDays(Convert.ToDouble(wonder.Day)).AddHours(Convert.ToDouble(wonder.Hour)).AddMinutes(Convert.ToDouble(wonder.Minute)).Date)
    {
        <br />
        <div class="container wow bounceIn" data-wow-delay="0.6s" id="wonder">
            <div class="py-xl-5 py-lg-3">
                <h3 class="title-w3 text-bl text-center font-weight-bold">پیشنهاد شگفت انگیز</h3>
                <p class="title-sub mb-5 text-center">موتورتو</p>
            </div>
            <div class="row" style="direction:rtl!important;">
                <div class="col-md-8 col-xs-12 text-center wond">
                    <a href="/product/@wonder.SefUrl">
                        <img src="@wonder.AppLargeImage" width="250" alt="@wonder.PersianName" title="@wonder.PersianName" class="img-fluid img-responsive" />
                        <br />
                        <b style="direction:rtl">@wonder.PersianName</b>
                    </a>
                </div>
                <div class="col-md-4 col-xs-12 text-center">
                    <p style="font-size:32px !important; color:#e31e24 !important;padding-top:75px !important; direction:ltr !important;" id="wonderful" class="text-center">
                    </p>
                    <span>زمان باقی مانده</span><br />
                </div>
            </div>
        </div>
        <script>
            // Set the date we're counting down to
            @{
                var finalDate = wonder.WonderDate.Value.AddDays(Convert.ToDouble(wonder.Day)).AddHours(Convert.ToDouble(wonder.Hour)).AddMinutes(Convert.ToDouble(wonder.Minute));
            }

            var countDownDate = new Date("@string.Format("{0:MMMM dd, yyyy hh:mm:ss}", finalDate)").getTime();

            //August 15, 2019 11:36:5

            // Update the count down every 1 second
            var x = setInterval(function () {

                // Get today's date and time
                var now = new Date().getTime();

                // Find the distance between now and the count down date
                var distance = countDownDate - now;

                // Time calculations for days, hours, minutes and seconds
                var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                // Output the result in an element with id="demo"
                document.getElementById("wonderful").innerHTML = days + " : " + hours + " : "
                + minutes + " : " + seconds + " ";

                // If the count down is over, write some text
                if (distance < 0) {
                    clearInterval(x);
                    document.getElementById("wonderful").innerHTML = "EXPIRED";
                }
            }, 1000);
        </script>
    }
}

@if (content.Products.Count() > 0)
{
    var latestProducts = content.Products
        .AsNoTracking()
        .OrderByDescending(p => p.CreateDate)
        .Take(10)
        .ToList();
    <div class="maincontent-area wow slideInRight" id="specialproducts">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="latest-product">
                        <h3 class="section-title">محصولات جدید</h3>
                        <div class="product-carousel">
                            @foreach (var item in latestProducts)
                            {
                                <div class="single-product">
                                    <div class="product-f-image">
                                        @if (item.SiteFirstImage != null)
                                        {
                                            <img src="@item.SiteFirstImage" alt="@item.PersianName" title="@item.PersianName">
                                        }
                                        else
                                        {
                                            <img src="~/images/sadr_logo.png" alt="@item.PersianName" title="@item.PersianName">
                                        }
                                        <div class="product-hover">
                                            @if (item.Stock > 0)
                                            {
                                                <a class="add-to-cart-link btncard" productid="@item.Id" href="~/Home/Basket/@item.Id"><i class="fa fa-shopping-cart"></i> سبد خرید</a>
                                            }
                                            else
                                            {
                                                <a class="add-to-cart-link" productid="@item.Id"><i class="fa fa-lock"></i>ناموجود </a>
                                            }
                                            <a href="/Product/@item.SefUrl" class="view-details-link"><i class="fa fa-link"></i> جزئیات</a>
                                        </div>
                                    </div>
                                    <div class="product-title">
                                        <h2><a href="/Product/@item.SefUrl">@GladCherryShopping.Helpers.FunctionsHelper.Truncate(item.PersianName, 25)</a></h2>

                                        <div class="product-carousel-price">
                                            @if (item.DiscountPercent > 0)
                                            {
                                                int pricewithdiscount = item.UnitPrice - (item.UnitPrice) * (item.DiscountPercent) / 100;

                                                <ins>@string.Format("{0:n0}", pricewithdiscount) ریال</ins>
                                                <del>@string.Format("{0:n0}", item.UnitPrice)</del>

                                            }
                                            else
                                            {
                                                <ins>@string.Format("{0:n0}", item.UnitPrice) ریال</ins>
                                                @*<del>مقطوع</del>*@
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@if (content.Products.Where(current => current.IsSpecial == true).Count() > 0)
{
    <br />
    <div class="maincontent-area wow slideInRight" id="specialproducts">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="latest-product">
                        <h3 class="section-title">محصولات ویژه</h3>
                        <div class="product-carousel">
                            @foreach (var item in content.Products.OrderByDescending(current => current.CreateDate).Where(currrent => currrent.SiteFirstImage != null && currrent.IsSpecial == true).ToList())
                            {
                                <div class="single-product">
                                    <div class="product-f-image">
                                        <img src="@item.SiteFirstImage" alt="@item.PersianName" title="@item.PersianName">
                                        <div class="product-hover">
                                            @if (item.Stock > 0)
                                            {
                                                <a class="add-to-cart-link btncard" productid="@item.Id" href="~/Home/Basket/@item.Id"><i class="fa fa-shopping-cart"></i> سبد خرید</a>
                                            }
                                            else
                                            {
                                                <a class="add-to-cart-link" productid="@item.Id"><i class="fa fa-lock"></i>ناموجود </a>
                                            }
                                            <a href="/Product/@item.SefUrl" class="view-details-link"><i class="fa fa-link"></i> جزئیات</a>
                                        </div>
                                    </div>

                                    <h2><a href="/Product/@item.SefUrl">@item.PersianName</a></h2>

                                    <div class="product-carousel-price">
                                        @if (item.DiscountPercent > 0)
                                        {
                                            int pricewithdiscount = item.UnitPrice - (item.UnitPrice) * (item.DiscountPercent) / 100;

                                            <ins>@string.Format("{0:n0}", pricewithdiscount) ریال</ins>
                                            <del>@string.Format("{0:n0}", item.UnitPrice)</del>

                                        }
                                        else
                                        {
                                            <ins>@string.Format("{0:n0}", item.UnitPrice) ریال</ins>
                                            @*<del>مقطوع</del>*@
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@if (TempData["Success"] != null)
{
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog" style="margin-top:80px">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                    <h4 class="modal-title">وضعیت سفارش</h4>
                </div>
                <div class="modal-body" style="text-align:center;direction:rtl;">
                    <p class="text-success">@TempData["Success"]</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
                </div>
            </div>
        </div>
    </div>
}


@if (TempData["Error"] != null)
{
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog" style="margin-top:80px">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                    <h4 class="modal-title">وضعیت سفارش</h4>
                </div>
                <div class="modal-body" style="text-align:center;direction:rtl;">
                    <p class="text-danger">@TempData["Error"]</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts{
    <script>
        $(document).ready(function () {
            $("#myModal").modal();
        });
    </script>
    <script>
        $(function () {
            $('a[href*="#"]:not([href="#"])').click(function () {
                if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
                    var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                    if (target.length) {
                        $('html, body').animate({
                            scrollTop: target.offset().top
                        }, 1000);
                        return false;
                    }
                }
            });
        });
    </script>
    @if (slider.Count() > 0)
    {
        <text>
            <script type="text/javascript" src="~/library/engine1/wowslider.js"></script>
            <script type="text/javascript" src="~/library/engine1/script.js"></script>
            <script>
                jQuery("#wowslider-container1").wowSlider({
                    effect: "shift",
                    duration: 2000,
                    delay: 6000,
                    width: 900,
                    height: 500,
                    autoPlay: true,
                    stopOnHover: true,
                    loop: true,
                    bullets: 1,
                    caption: true,
                    controls: true,
                    responsive: 1,
                    fullScreen: true,
                    gestures: 2
                });
            </script>
        </text>
    }
    @if (content.Products.Count() > 0)
    {
        <text>
            <script src="~/Content/Professor/assets/js/jquery.backstretch.min.js"></script>
            <script src="~/Content/Professor/assets/js/scripts.js"></script>
        </text>
    }
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js" integrity="sha256-z6FznuNG1jo9PP3/jBjL6P3tvLMtSwiVAowZPOgo56U=" crossorigin="anonymous"></script>
    <script>
        wow = new WOW(
            {
                animateClass: 'animated',
                offset: 100,
                autoPlay: true,  // ✅ این روشنه
                loop: true,
                fullScreen: true,
                gestures: 2,
                callback: function (box) {
                }
            }
        );
        wow.init();
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/css/select2.min.css" integrity="sha256-FdatTf20PQr/rWg+cAKfl6j4/IY3oohFAJ7gVC3M34E=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/js/select2.min.js"
            integrity="sha256-wfVTTtJ2oeqlexBsfa3MmUoB77wDNRPqT1Q1WA2MMn4="
            crossorigin="anonymous">
    </script>

    <script>
        function toPersianDigits(str) {
            return (str || "").replace(/\d/g, d => "۰۱۲۳۴۵۶۷۸۹"[d]);
        }

        function toEnglishDigits(str) {
            return (str || "").replace(/[۰-۹]/g, d => "۰۱۲۳۴۵۶۷۸۹".indexOf(d));
        }

        var $select = $(".js-example-data-ajax").select2({
            ajax: {
                url: "/Product/GetWithStock",
                dataType: "json",
                delay: 250,
                data: function (params) {
                    let normalized = toEnglishDigits(params.term);
                    return { q: normalized };
                },
                processResults: function (data) {
                    if (data.Status === 1) {
                        let results = data.Data.map(x => {
                            return {
                                id: x.id,
                                text: toPersianDigits(x.text)
                            }
                        });
                        return { results: results };
                    }
                    return { results: [] };
                },
                cache: true
            },
            placeholder: "به دنبال چه محصولاتی هستید ؟",
            allowClear: true,
            language: {
                noResults: function () {
                    return "هیچ محصولی یافت نشد";
                },
                searching: function () {
                    return "در حال جستجو...";
                },
                inputTooShort: function (args) {
                    return "لطفاً حداقل " + (args.minimum - args.input.length) + " کاراکتر وارد نمایید";
                }
            },
            minimumInputLength: 2
        });

        $select.on("select2:open", function () {
            let $searchField = $(".select2-search__field");
            $searchField.on("input", function () {
                let val = $(this).val();
                let persianVal = toPersianDigits(val);
                if (val !== persianVal) {
                    $(this).val(persianVal);
                }
            });
        });

        $('.js-example-data-ajax').on('select2:select', function (e) {
            var sefUrl = $(this).val();
            if (sefUrl) {
                window.location.href = "/product/" + sefUrl;
            }
        });
    </script>

    <script>
        function toPersianDigits(str) {
            return str.replace(/\d/g, d => "۰۱۲۳۴۵۶۷۸۹"[d]);
        }

        function toEnglishDigits(str) {
            return str.replace(/[۰-۹]/g, d => "۰۱۲۳۴۵۶۷۸۹".indexOf(d));
        }

        $(document).on("input", ".subcat-search", function () {
            let rawValue = $(this).val();

            let persianValue = toPersianDigits(rawValue);
            $(this).val(persianValue);

            let normalizedValue = toEnglishDigits(persianValue).toLowerCase().trim();

            var target = $(this).data("target");
            var $items = $(target).find(".subcat-items li");

            if (!normalizedValue) {
                $items.show();
                return;
            }

            $items.each(function () {
                var text = $(this).text().toLowerCase();
                var normalizedText = toEnglishDigits(text);
                $(this).toggle(normalizedText.indexOf(normalizedValue) > -1);
            });
        });
    </script>
    <script>
        $(document).on("show.bs.modal", ".subcategory-modal", function (e) {
            var $modal = $(this);
            var categoryId = $modal.attr("id").replace("modal-", "");
            var $list = $modal.find(".subcat-items");

            $list.html('<li>در حال بارگذاری...</li>');

            $.ajax({
                url: "/Category/GetSubCategories",
                type: "GET",
                data: { categoryId: categoryId },
                success: function (res) {
                    if (res.Status === 1) {
                        var html = "";
                        res.Data.forEach(function (item) {
                            html += `<li>
                                            <a href="/product/all/${item.Id}">
                                              <i class="fa fa-angle-left"></i> ${item.Name}
                                            </a>
                                         </li>`;
                        });
                        $list.html(html);
                    } else {
                        $list.html("<li>" + res.Text + "</li>");
                    }
                },
                error: function () {
                    $list.html("<li>خطا در دریافت داده‌ها</li>");
                }
            });
        });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const slider = document.querySelector(".car-slider");
            const prev = document.querySelector(".car-prev");   // دکمهٔ سمت چپ «‹»
            const next = document.querySelector(".car-next");   // دکمهٔ سمت راست «›»
            const scrollStep = 250;

            const isRTL = getComputedStyle(slider).direction === "rtl";

            // دکمهٔ سمت راست ⇒ حرکت به راست
            next.addEventListener("click", () => {
                slider.scrollBy({ left: isRTL ? -scrollStep : scrollStep, behavior: "smooth" });
            });

            // دکمهٔ سمت چپ ⇒ حرکت به چپ
            prev.addEventListener("click", () => {
                slider.scrollBy({ left: isRTL ? scrollStep : -scrollStep, behavior: "smooth" });
            });
        });
    </script>
}


