@model DataLayer.ViewModels.PagerViewModel.PagerViewModels<DataLayer.Models.Product>
@using MvcPager
@{
    ViewBag.Title = "محصولات " + ViewBag.CategoryName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Metas{
<meta name="description" content="موتورتو تولید کننده و صادر کننده انواع خرما مرغوب ایرانی است . خرمای مضافتی ، و خرمای عسلی از بهترین محصولات موتورتو است .">
<meta name="keywords" content="موتورتو , رومانتا , romanta , datepalm , خرمای ایرانی , خرما مضافتي">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="author" content="http://gladcherry.com">
<meta name="Designer" content="Design, Develope by, GladCherry, Co. Email : info@gladcherry.com">
<meta name="copyright" content="http://gladcherry.com, 2017 - software company">
<meta name="expires" content="never">
<meta name="rating" content="Safe For Kids">
<meta name="og:site_name" content="موتورتو" />
<meta property="og:type" content="website" />
<meta property="og:locale" content="fa_IR">
<meta property="og:url" content="http://romanta.ir/" />
<meta name="robots" content="INDEX,FOLLOW">
<meta name="googlebot" content="index">
<meta name="twitter:card" content="summary">
<meta name="twitter:image" content="موتورتو | برترین خرمای ایرانی">
<meta name="twitter:title" content="موتورتو | برترین خرمای ایرانی">
<meta name="twitter:domain" content="موتورتو | برترین خرمای ایرانی">
}

@section Styles{
}

@*<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    @if (ViewBag.CategoryName != null)
                    {
                        <h2>@ViewBag.CategoryName</h2>
                    }
                    else
                    {
                        <h2>محصولات</h2>
                    }
                </div>
            </div>
        </div>
    </div>
</div>*@


<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            @if (Model.data.Count() > 0)
            {
                foreach (var product in Model.data)
                {
                    <div class="col-md-3 col-sm-6">
                        <div class="single-shop-product">
                            <div class="product-upper">
                                @if (product.SiteFirstImage != null)
                                {
                                    <img src="@product.SiteFirstImage" alt="@product.PersianName" title="@product.PersianName">
                                }
                                else
                                {
                                    <img src="~/images/hand-shake.png" alt="@product.PersianName" title="@product.PersianName">
                                }
                            </div>
                            <h2><a href="/Product/@product.SefUrl">@product.PersianName</a></h2>
                            <div class="product-carousel-price">
                                @if (product.DiscountPercent > 0)
                                {
                                    int pricewithdiscount = product.UnitPrice - (product.UnitPrice) * (product.DiscountPercent) / 100;

                                    <ins>@pricewithdiscount ریال</ins> <del>@product.UnitPrice</del>

                                }
                                else
                                {
                                    <ins>@product.UnitPrice ریال</ins> <del>@product.UnitPrice</del>
                                }
                            </div>

                            <div class="product-option-shop">
                                @if (product.Stock > 0)
                                {
                                    <a class="add_to_RMNT_button btncard" data-quantity="1" data-product_sku="" productid="@product.Id" rel="nofollow" href="~/Home/Basket/@product.Id">سبد خرید</a>
                                }
                                else
                                {
                                    <a class="add_to_RMNT_button" data-quantity="1" data-product_sku="">ناموجود</a>
                                }
                            </div>
                        </div>
                    </div>
                }
            }

            else
            {
                <span>محصولی در این دسته بندی وجود ندارد .</span>
            }

        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="product-pagination text-center">
                    <nav>
                        <ul class="pagination pagination-sm">
                            <li>@Html.Pager(10, Model.CurrentPage, Model.TotalItemCount)</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
}
