@model DataLayer.ViewModels.PagerViewModel.PagerViewModels<DataLayer.Models.Payment>
@using MvcPager
@{
    ViewBag.Title = "مدیریت اسناد پرداختی";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<h2>مدیریت اسناد پرداختی</h2>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>لیست اسناد پرداختی</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#">گزینه 1</a>
                            </li>
                            <li>
                                <a href="#">گزینه 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th>
                                    واریز کننده
                                </th>
                                <th>
                                    توضیحات
                                </th>
                                <th>
                                    کد پیگیری
                                </th>
                                <th>
                                    مبلغ به ریال
                                </th>
                                <th>نوع عملیات</th>
                                <th>
                                    تاریخ ثبت پرداخت
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.data)
                            {
                                <tr>
                                    <td>
                                        @item.getStatus
                                    </td>
                                    <td>
                                        @item.Description
                                    </td>
                                    <td>
                                        @item.TrackingCode
                                    </td>
                                    <td class="Ammount" style="direction:ltr;float:right;">
                                        @if (item.Status == 3 && item.ActionType == 1)
                                        {
                                            //واریز هزینه خدمات رسانی
                                            <span>-@item.Amount</span>
                                        }
                                        else if (item.Status == 3 && item.ActionType == 2)
                                        {
                                            //افزایش اعتبار کاربر
                                            <span>@item.Amount</span>
                                        }
                                    </td>
                                    <td>
                                        @item.getActionType
                                    </td>
                                    <td>
                                        @GladCherryShopping.Helpers.FunctionsHelper.GetPersianDateTime((DateTime)item.CreateDate, true, true).ToString()
                                    </td>
                                    <td></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-md-6" style="direction: ltr">
                            <ul class="pagination pagination-sm">
                                <li>@Html.Pager(10, Model.CurrentPage, Model.TotalItemCount)</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            var sum = 0;
            // iterate through each td based on class and add the values
            $(".Ammount").each(function () {
                var value = $(this).text();
                // add only if the value is number
                if (!isNaN(value) && value.length != 0) {
                    sum += parseFloat(value);
                }
            });
            $('#result').html("مانده حساب :" + sum + " ریال ");
            if (sum > 0) {
                $('#Situation').html("وضعیت :" + "بستانکار");
            }
            else if (sum < 0) {
                $('#Situation').html("وضعیت :" + "بدهکار");
            }
            else {
                $('#Situation').html("وضعیت :" + "عادی");
            }
        });
    </script>
}
