@model Domain.Blog
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.Title + " | موتورتو";
}

@section Metas {
    <meta name="description" content="@Model.MetaDesc">
    <meta name="keywords" content="@Model.MetaKey">
    <meta property="og:title" content="موتورتو | @Model.Title" />
    <meta property="og:url" content="@Request.Url.AbsoluteUri" />
    @if (Model.Images.Any())
    {
        <meta property="og:image" content="https://motoreto.ir@Model.Images.First().FullPath" />
        <meta name="twitter:image" content="https://motoreto.ir@Model.Images.First().FullPath" />
    }
    else
    {
        <meta property="og:image" content="https://motoreto.ir/images/sadr_logo.png" />
        <meta name="twitter:image" content="https://motoreto.ir/images/sadr_logo.png" />
    }
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="موتورتو | @Model.Title">
    <meta name="twitter:description" content="@Model.MetaDesc">
    <link rel="canonical" href="@Url.Action("Details", "Blog", new { id = Model.Id, sefUrl = Model.SefUrl }, Request.Url.Scheme)" />
    <meta property="article:tag" content="@Model.Title" />
    <meta property="article:published_time" content="@Shared.Helpers.FunctionsHelper.GetPersianDateTime((DateTime)Model.CreateDate, true, true)" />
    <meta property="article:section" content="@Model.Category.PersianName" />
}

@section Styles {
    <style>
        ul {
            direction: rtl;
            line-height: 30px;
        }

        .card {
            min-height: initial !important
        }

        .body-blog {
            margin-top: 15px;
            line-height: 2;
        }

        .comment-user {
            width: 50px;
            height: 50px;
        }

        .comment-bottom textarea {
            min-height: 100px;
            margin-top: 10px;
        }

        .widget_social ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

            .widget_social ul li {
                display: inline-block;
                margin: 5px;
            }

        .widget_social a {
            text-decoration: none;
        }
    </style>

    @{
        var absUrl = Url.Action("Details", "Blog", new { id = Model.Id, sefUrl = Model.SefUrl }, Request.Url.Scheme);
        var hasImage = Model.Images.Any();
        var imgUrl = hasImage ? $"{Request.Url.Scheme}://{Request.Url.Host}{Model.Images.First().FullPath}" : "https://motoreto.ir/images/sadr_logo.png";
        var iso = Model.CreateDate?.ToString("yyyy-MM-ddTHH:mm:ssK") ?? "";
        var wordCount = (Model.Body ?? "").Split(new[] { ' ', '\n', '\r', '\t' }, StringSplitOptions.RemoveEmptyEntries).Length;
    }

    <script type="application/ld+json">
        {
          "@@context": "https://schema.org",
          "@@type": "BlogPosting",
          "mainEntityOfPage": "@absUrl",
          "headline": "@Model.Title",
          "image": "@imgUrl",
          "author": { "@@type": "Person", "name": "موتورتو" },
          "publisher": {
            "@@type": "Organization",
            "name": "موتورتو",
            "logo": { "@@type": "ImageObject", "url": "https://motoreto.ir/images/sadr_logo.png" }
          },
          "inLanguage": "fa-IR",
          "wordcount": "@wordCount",
          "articleSection": "@Model.Category.PersianName",
          "datePublished": "@iso",
          "dateModified": "@iso",
          "description": "@Model.MetaDesc"
        }
    </script>

    <script type="application/ld+json">
        {
          "@@context": "https://schema.org",
          "@@type": "BreadcrumbList",
          "itemListElement": [
            { "@@type": "ListItem", "position": 1,
              "item": { "@@id": "https://motoreto.ir", "name": "موتورتو" } },
            { "@@type": "ListItem", "position": 2,
              "item": { "@@id": "@absUrl", "name": "@Model.Title" } }
          ]
        }
    </script>
}

<section class="bottom-banner-w3layouts">
    <div class="container">
        <h2 class="heading text-center" title="@Model.Title">@Model.Title</h2>

        @if (TempData["Error"] != null)
        {
            <div class="alert alert-danger text-center">@TempData["Error"]</div>
        }
        @if (TempData["Success"] != null)
        {
            <div class="alert alert-success text-center">@TempData["Success"]</div>
        }

        <div class="row inner-sec-w3ls-agileinfo">
            <!-- left -->
            <div class="col-lg-8 left-blog-info pull-right">
                <div class="card">
                    @if (Model.Images.Any())
                    {
                        <img src="@Model.Images.First().FullPath" class="card-img-top img-fluid" alt="@Model.Title" title="@Model.Title" />
                    }
                    <div class="card-body">
                        <ul class="blog-icons my-4">
                            <li><span class="fa fa-calendar"></span> @Shared.Helpers.FunctionsHelper.GetPersianDateTime((DateTime)Model.CreateDate, false, false)</li>
                            <li class="mx-2"><span class="fa fa-comment"></span> @Model.BlogComments.Count</li>
                            <li><span class="fa fa-eye"></span> @Model.Survey</li>
                        </ul>
                        <h1 class="card-title">@Model.Title</h1>
                        <div class="body-blog">@Html.Raw(Model.Body)</div>
                    </div>
                </div>

                @if (Model.BlogComments.Any(c => c.IsApprove))
                {
                    <div class="comment-top">
                        <h4>نظرات</h4>
                        @foreach (var item in Model.BlogComments.Where(c => c.IsApprove))
                        {
                            <div class="media">
                                <img src="~/images/user_chat.png" alt="کاربر موتورتو" class="img-fluid rounded comment-user" />
                                <div class="media-body" style="margin-right:20px;">
                                    <h5>@item.FullName</h5>
                                    <p>@item.Text</p>
                                </div>
                            </div>
                        }
                    </div>
                }

                <div class="comment-top">
                    <h4>دیدگاه خود را بیان کنید</h4>
                    <div class="comment-bottom">
                        <form method="post" action="/Blog/SubmitComment">
                            @Html.AntiForgeryToken()
                            <input class="form-control" type="text" name="FullName" placeholder="نام و نام خانوادگی" required />
                            <textarea class="form-control" name="Text" placeholder="نظر شما..." required></textarea>
                            <input type="hidden" value="@Model.Id" name="BlogId" />
                            <button type="submit" class="btn btn-primary submit">ثبت</button>
                        </form>
                    </div>
                </div>
            </div>

            <!-- right -->
            <aside class="col-lg-4 right-blog-con pull-right">
                <div class="tech-btm">
                    <h4>عضویت در خبرنامه</h4>
                    <p>با عضویت در خبرنامه تازه‌ترین‌های موتورتو را دریافت کنید</p>
                    <form id="newsletterForm" method="post">
                        <input id="textnews" class="form-control" type="email" placeholder="example@gmail.com" required />
                        <input id="btntext" class="form-control btn btn-success mt-2" type="submit" value="ثبت" />
                    </form>
                    <div class="text-center"><h6 id="msg" class="newsletter"></h6></div>
                </div>

                <div class="tech-btm">
                    <h4>مطالب پربازدید</h4>
                    @{
                        var popular = ViewBag.PopularBlogs as List<Domain.Blog>;
                    }
                    @if (popular != null && popular.Any())
                    {
                        foreach (var item in popular)
                        {
                            <div class="blog-grids row mb-3">
                                <div class="col-md-5">
                                    <a href="/blog/@item.Id/@item.SefUrl" title="@item.Title">
                                        @if (item.Images != null && item.Images.Any())
                                        {
                                            <img src="@item.Images.First().FullPath" class="img-fluid" alt="@item.Title" />
                                        }
                                    </a>
                                </div>
                                <div class="col-md-7">
                                    <h5><a href="/blog/@item.Id/@item.SefUrl">@item.Title</a></h5>
                                    <div class="sub-meta">
                                        <span class="fa fa-clock-o"></span>
                                        @Shared.Helpers.FunctionsHelper.GetPersianDateTime((DateTime)item.CreateDate, false, false)
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>

                <div class="tech-btm widget_social text-center">
                    <h4>موتورتو در شبکه‌های اجتماعی</h4>
                    <ul>
                        <li><a target="_blank" rel="nofollow" href="#"><span class="count">توئیتر</span></a></li>
                        <li><a target="_blank" rel="nofollow" href="#"><span class="count">فیس‌بوک</span></a></li>
                        <li><a target="_blank" rel="nofollow" href="https://www.instagram.com/motoreto.ir"><span class="count">اینستاگرام</span></a></li>
                        <li><a target="_blank" rel="nofollow" href="https://telegram.me/motoreto.ir"><span class="count">تلگرام</span></a></li>
                        <li><a target="_blank" rel="nofollow" href="#"><span class="count">یوتیوب</span></a></li>
                        <li><a target="_blank" rel="nofollow" href="#"><span class="count">لینکدین</span></a></li>
                    </ul>
                </div>
            </aside>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        // Newsletter submit
        $("#newsletterForm").submit(function (e) {
            e.preventDefault();
            let email = $("#textnews").val();
            if (!email) return;
            $.get("/Home/NewsLetter", { text: email }, function (res) {
                $("#msg").text(res.text);
            });
        });
    </script>
}
