@model DataLayer.ViewModels.PagerViewModel.PagerViewModels<DataLayer.Models.Product>
@using MvcPager
@{
    ViewBag.Title = "مدیریت محصولات";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<h2>مدیریت محصولات</h2>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>لیست محصولات</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">گزینه 1</a></li>
                            <li><a href="#">گزینه 2</a></li>
                        </ul>
                        <a class="close-link"><i class="fa fa-times"></i></a>
                    </div>
                </div>

                <div class="ibox-content">
                    <h4>
                        &nbsp; &nbsp; افزودن محصول جدید &nbsp; &nbsp;
                        <a class="btn btn-success" href="/Administrator/Products/Create">
                            <span style="font-weight:bold;font-size:18px" class="glyphicon glyphicon-plus"></span> افزودن محصول &nbsp;
                        </a>
                    </h4>
                    <hr />

                    <!-- 🔍 فرم سرچ -->
                    <div class="ibox-content">
                        <form method="get" action="/Administrator/Products/Index" class="form-inline mb-3">
                            <input type="text" name="search" value="@ViewBag.Search" class="form-control"
                                   placeholder="جستجو در محصولات..." style="width:250px; margin-left:10px;" />
                            <button type="submit" class="btn btn-primary">🔍 جستجو</button>
                            <a href="/Administrator/Products/Index" class="btn btn-default">نمایش همه</a>
                        </form>
                    </div>

                    <!-- 📋 جدول محصولات -->
                    <div class="ibox-content table-responsive">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>کد</th>
                                    <th>نام فارسی</th>
                                    <th>نام لاتین</th>
                                    <th>نام دسته‌بندی</th>
                                    <th>قیمت فروش</th>
                                    <th>درصد تخفیف</th>
                                    <th>عکس کوچک</th>
                                    <th>موجودی</th>
                                    <th>عملیات</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.data)
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@(item.Code != null ? item.Code.ToString() : "-")</td>
                                        <td>@item.PersianName</td>
                                        <td>@item.EnglishName</td>
                                        <td>@(item.category != null ? item.category.PersianName : "-")</td>
                                        <td>@item.UnitPrice.ToString("N0") ریال</td>
                                        <td>@item.DiscountPercent %</td>
                                        <td>
                                            @if (!string.IsNullOrEmpty(item.SiteFirstImage))
                                            {
                                                <img src="@item.SiteFirstImage" class="customized_panel_table img-circle" style="width:40px;height:40px;" />
                                            }
                                            else
                                            {
                                                <span>فاقد عکس</span>
                                            }
                                        </td>
                                        <td>@item.Stock</td>
                                        <td>
                                            @Html.ActionLink("ویرایش", "Edit", new { id = item.Id }, new { @class = "btn btn-warning btn-xs" }) |
                                            @Html.ActionLink("جزئیات", "Details", new { id = item.Id }, new { @class = "btn btn-info btn-xs" }) |
                                            @Html.ActionLink("حذف", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-xs" })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                        <!-- 📌 صفحه‌بندی -->
                        <div class="row">
                            <div class="col-md-6" style="direction: ltr">
                                <ul class="pagination pagination-sm">
                                    <li>
                                        @Html.Pager(
                                            pageSize: 10,
                                            currentPage: Model.CurrentPage,
                                            totalItemCount: Model.TotalItemCount,
                                            values: new { search = Request["search"] } // 👈 حفظ سرچ در صفحات بعد
                                        )
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
