@{ GladcherryShopping.Models.ApplicationDbContext content = new GladcherryShopping.Models.ApplicationDbContext();}
@using Microsoft.AspNet.Identity;
@using System.Web.Mvc;
@using System.Data.Entity;
@using GladcherryShopping.Models;
@using DataLayer.Models;
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="fa-ir" xml:lang="fa-ir" prefix="og: http://ogp.me/ns#">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
    <link rel="canonical" href="/">
    <link rel="alternate" href="/" hreflang="fa-ir" />
    @RenderSection("Metas", false)
    <meta name="author" content="Motoreto">
    <meta name="Designer" content="Design, Develope by, Motoreto Group, Co. Email : info@motoreto.ir">
    <meta name="DC.Subject" content="موتورتو ، فروش آنلاین قطعات خودرو | Motoreto" />
    <meta name="copyright" content="https://gladcherry.org, 2020 - software company">
    <meta name="expires" content="never">
    <meta name="rating" content="Safe For Kids">
    <meta name=language content=fa_ir />
    <meta name=geo.region content=ir>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <meta name="og:site_name" content="موتورتو">
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="fa_ir">
    <meta property="og:image" content="http://motoreto.ir/images/sadr_logo.png" />
    <meta property="og:image:secure_url" content="http://motoreto.ir/images/sadr_logo.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="248" />
    <meta property="og:image:height" content="249" />
    <meta property="og:image:alt" content="motoreto.ir" />
    <meta name="email" content="info@motoreto.ir" />
    <meta name="document-type" content="Public" />
    <meta name="document-rating" content="General" />
    <meta name="classification" content="Consumer" />
    <meta name="robots" content="INDEX,FOLLOW">
    <meta name="googlebot" content="index">
    <meta property="place:location:latitude" content="35.806362" />
    <meta property="place:location:longitude" content="51.4296549" />
    <meta property="business:contact_data:street_address" content="تجریش خیابان شهرداری ساختمان 110" />
    <meta property="business:contact_data:locality" content="تهران" />
    <meta property="business:contact_data:country_name" content="ایران" />
    <meta property="business:contact_data:phone_number" content="+98 21 22735588 " />
    <meta property="business:contact_data:website" content="http://motoreto.ir" />
    <meta property="business:contact_data:email" content="info@motoreto.ir" />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="فروش آنلاین قطعات خودرو | Motoreto">
    <meta name="twitter:domain" content="فروش آنلاین قطعات خودرو | Motoreto">
    <meta property="twitter:app:country" content="ir" />
    <link rel="manifest" href="/manifest.webmanifest">
    <meta name="theme-color" content="#00016e">
    <!-- iOS PWA -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#d4df21">
    <meta name="apple-mobile-web-app-title" content="Motoreto">
    <link rel="touch-icon" href="~/images/pwa/ban-192.png">
    <link rel="apple-touch-startup-image" href="/images/pwa/splash-640x1136.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)">
    <link rel="apple-touch-startup-image" href="/images/pwa/splash-750x1334.png" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)">
    <link rel="apple-touch-startup-image" href="/images/pwa/splash-1242x2208.png" media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3)">
    <link rel="apple-touch-startup-image" href="/images/pwa/splash-1125x2436.png" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)">
    <link rel="apple-touch-startup-image" href="/images/pwa/splash-828x1792.png" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)">
    <link rel="apple-touch-startup-image" href="/images/pwa/splash-1242x2688.png" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)">
    <link rel="apple-touch-startup-image" href="/images/pwa/splash-1536x2048.png" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)">
    <link rel="apple-touch-startup-image" href="/images/pwa/splash-1668x2224.png" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2)">
    <link rel="apple-touch-startup-image" href="/images/pwa/splash-1668x2388.png" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2)">
    <link rel="apple-touch-startup-image" href="/images/pwa/splash-2048x2732.png" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2)">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 440px) and (device-height: 956px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="/images/pwa/splash_screens/iPhone_17_Pro_Max__iPhone_16_Pro_Max_landscape.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 402px) and (device-height: 874px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="/images/pwa/splash_screens/iPhone_17_Pro__iPhone_17__iPhone_16_Pro_landscape.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 430px) and (device-height: 932px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="/images/pwa/splash_screens/iPhone_17_Air__iPhone_16_Plus__iPhone_15_Pro_Max__iPhone_15_Plus__iPhone_14_Pro_Max_landscape.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 393px) and (device-height: 852px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="/images/pwa/splash_screens/iPhone_16__iPhone_15_Pro__iPhone_15__iPhone_14_Pro_landscape.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="/images/pwa/splash_screens/iPhone_14_Plus__iPhone_13_Pro_Max__iPhone_12_Pro_Max_landscape.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="/images/pwa/splash_screens/iPhone_16e__iPhone_14__iPhone_13_Pro__iPhone_13__iPhone_12_Pro__iPhone_12_landscape.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="/images/pwa/splash_screens/iPhone_13_mini__iPhone_12_mini__iPhone_11_Pro__iPhone_XS__iPhone_X_landscape.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="/images/pwa/splash_screens/iPhone_11_Pro_Max__iPhone_XS_Max_landscape.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="/images/pwa/splash_screens/iPhone_11__iPhone_XR_landscape.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="/images/pwa/splash_screens/iPhone_8_Plus__iPhone_7_Plus__iPhone_6s_Plus__iPhone_6_Plus_landscape.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="/images/pwa/splash_screens/iPhone_8__iPhone_7__iPhone_6s__iPhone_6__4.7__iPhone_SE_landscape.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="/images/pwa/splash_screens/4__iPhone_SE__iPod_touch_5th_generation_and_later_landscape.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 1032px) and (device-height: 1376px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="/images/pwa/splash_screens/13__iPad_Pro_M4_landscape.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="/images/pwa/splash_screens/12.9__iPad_Pro_landscape.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 834px) and (device-height: 1210px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="/images/pwa/splash_screens/11__iPad_Pro_M4_landscape.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="/images/pwa/splash_screens/11__iPad_Pro__10.5__iPad_Pro_landscape.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 820px) and (device-height: 1180px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="/images/pwa/splash_screens/10.9__iPad_Air_landscape.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="/images/pwa/splash_screens/10.5__iPad_Air_landscape.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="/images/pwa/splash_screens/10.2__iPad_landscape.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="/images/pwa/splash_screens/9.7__iPad_Pro__7.9__iPad_mini__9.7__iPad_Air__9.7__iPad_landscape.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 744px) and (device-height: 1133px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="/images/pwa/splash_screens/8.3__iPad_Mini_landscape.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 440px) and (device-height: 956px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="/images/pwa/splash_screens/iPhone_17_Pro_Max__iPhone_16_Pro_Max_portrait.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 402px) and (device-height: 874px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="/images/pwa/splash_screens/iPhone_17_Pro__iPhone_17__iPhone_16_Pro_portrait.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 430px) and (device-height: 932px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="/images/pwa/splash_screens/iPhone_17_Air__iPhone_16_Plus__iPhone_15_Pro_Max__iPhone_15_Plus__iPhone_14_Pro_Max_portrait.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 393px) and (device-height: 852px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="/images/pwa/splash_screens/iPhone_16__iPhone_15_Pro__iPhone_15__iPhone_14_Pro_portrait.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="/images/pwa/splash_screens/iPhone_14_Plus__iPhone_13_Pro_Max__iPhone_12_Pro_Max_portrait.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="/images/pwa/splash_screens/iPhone_16e__iPhone_14__iPhone_13_Pro__iPhone_13__iPhone_12_Pro__iPhone_12_portrait.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="/images/pwa/splash_screens/iPhone_13_mini__iPhone_12_mini__iPhone_11_Pro__iPhone_XS__iPhone_X_portrait.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="/images/pwa/splash_screens/iPhone_11_Pro_Max__iPhone_XS_Max_portrait.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="/images/pwa/splash_screens/iPhone_11__iPhone_XR_portrait.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="/images/pwa/splash_screens/iPhone_8_Plus__iPhone_7_Plus__iPhone_6s_Plus__iPhone_6_Plus_portrait.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="/images/pwa/splash_screens/iPhone_8__iPhone_7__iPhone_6s__iPhone_6__4.7__iPhone_SE_portrait.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="/images/pwa/splash_screens/4__iPhone_SE__iPod_touch_5th_generation_and_later_portrait.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 1032px) and (device-height: 1376px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="/images/pwa/splash_screens/13__iPad_Pro_M4_portrait.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="/images/pwa/splash_screens/12.9__iPad_Pro_portrait.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 834px) and (device-height: 1210px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="/images/pwa/splash_screens/11__iPad_Pro_M4_portrait.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="/images/pwa/splash_screens/11__iPad_Pro__10.5__iPad_Pro_portrait.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 820px) and (device-height: 1180px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="/images/pwa/splash_screens/10.9__iPad_Air_portrait.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="/images/pwa/splash_screens/10.5__iPad_Air_portrait.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="/images/pwa/splash_screens/10.2__iPad_portrait.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="/images/pwa/splash_screens/9.7__iPad_Pro__7.9__iPad_mini__9.7__iPad_Air__9.7__iPad_portrait.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 744px) and (device-height: 1133px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="/images/pwa/splash_screens/8.3__iPad_Mini_portrait.png">
    <!-- Bootstrap -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Content/css/owl.carousel.css">
    <link href="~/Content/style.css?v=6.3" rel="stylesheet" />
    <link href="~/Content/css/nav.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" />*@
    @RenderSection("Styles", required: false)
</head>
<body id="totop">

    <!-- Mobile Loader (shows only on small screens) -->
    <div id="mb-loader" class="mb-loader" aria-live="polite" aria-busy="true">
        <div class="mb-card">
            <!-- SVG -->
            <svg class="mb-svg" width="140" height="140" viewBox="0 0 140 140" aria-hidden="true">
                <defs>
                    <linearGradient id="g1" x1="0" y1="0" x2="1" y2="1">
                        <stop offset="0%" stop-color="#ff4d4f" />
                        <stop offset="100%" stop-color="#00016e" />
                    </linearGradient>
                </defs>

                <!-- چرخ‌دنده -->
                <g class="gear" transform="translate(70,70)">
                    <circle r="44" fill="none" stroke="url(#g1)" stroke-width="10" opacity=".25" />
                    <!-- دندانه‌ها -->
                    <g class="teeth" fill="url(#g1)">
                        <rect x="-4" y="-62" width="8" height="16" rx="2" />
                        <use href="#t" />
                    </g>
                    <!-- 12 دندانه با چرخش‌های مساوی -->
                    <g id="t" fill="url(#g1)">
                        <!-- 12 clone via <use> -->
                        <use href="#tooth" transform="rotate(30)" />
                    </g>
                    <g id="tooth" fill="url(#g1)">
                        <rect x="-4" y="-62" width="8" height="16" rx="2" />
                        <use href="#tooth2" />
                    </g>
                </g>

                <!-- از آنجا که برخی مرورگرها از use تودرتو ایراد می‌گیرند، دندانه‌ها را دستی می‌سازیم -->
                <g class="gear-teeth" transform="translate(70,70)" fill="url(#g1)">
                    <rect x="-4" y="-62" width="8" height="16" rx="2" transform="rotate(0)" />
                    <rect x="-4" y="-62" width="8" height="16" rx="2" transform="rotate(30)" />
                    <rect x="-4" y="-62" width="8" height="16" rx="2" transform="rotate(60)" />
                    <rect x="-4" y="-62" width="8" height="16" rx="2" transform="rotate(90)" />
                    <rect x="-4" y="-62" width="8" height="16" rx="2" transform="rotate(120)" />
                    <rect x="-4" y="-62" width="8" height="16" rx="2" transform="rotate(150)" />
                    <rect x="-4" y="-62" width="8" height="16" rx="2" transform="rotate(180)" />
                    <rect x="-4" y="-62" width="8" height="16" rx="2" transform="rotate(210)" />
                    <rect x="-4" y="-62" width="8" height="16" rx="2" transform="rotate(240)" />
                    <rect x="-4" y="-62" width="8" height="16" rx="2" transform="rotate(270)" />
                    <rect x="-4" y="-62" width="8" height="16" rx="2" transform="rotate(300)" />
                    <rect x="-4" y="-62" width="8" height="16" rx="2" transform="rotate(330)" />
                </g>

                <!-- خودرو ساده -->
                <g class="car" transform="translate(18,70)">
                    <rect x="8" y="-8" width="80" height="18" rx="8" fill="#ffffff" opacity=".95" />
                    <rect x="24" y="-16" width="42" height="14" rx="6" fill="#ffffff" opacity=".95" />
                    <!-- چرخ‌ها -->
                    <g class="wheel" transform="translate(26,12)">
                        <circle r="8" fill="#fff" />
                        <circle r="4" fill="url(#g1)" />
                    </g>
                    <g class="wheel" transform="translate(70,12)">
                        <circle r="8" fill="#fff" />
                        <circle r="4" fill="url(#g1)" />
                    </g>
                </g>
            </svg>

            <div class="mb-caption">هوای ماشینتو داریم</div>
        </div>
    </div>

    <!-- دکمه باز کردن منو -->
    <button id="openMenuBtn" class="btn btn-default">
        <i class="fa fa-bars"></i>
    </button>

    <!-- سایدبار -->
    <div id="menuOverlay"></div>

    <aside id="sideMenu" class="side-menu">
        <!-- هدر -->
        <div class="side-menu-header">
            <img src="/images/sadr_logo.png" alt="لوگو">
            <h3>منو سایت</h3>
            <button id="closeMenuBtn" class="close-btn">&times;</button>
        </div>

        <!-- آیتم‌ها -->
        <ul class="side-menu-list">
            <li>
                <a href="/">
                    <span class="menu-icon-wrap">
                        <span class="menu-icon"><i class="fa fa-home"></i></span>
                    </span>
                    صفحه اصلی
                </a>
            </li>

            <li>
                <a href="/blog/all">
                    <span class="menu-icon-wrap">
                        <span class="menu-icon"><i class="fa fa-book"></i></span>
                    </span>
                    وبلاگ
                </a>
            </li>

            <li>
                <a href="/account/loginaccount">
                    <span class="menu-icon-wrap">
                        <span class="menu-icon"><i class="fa fa-user"></i></span>
                    </span>
                    حساب کاربری
                </a>
            </li>

            <li class="has-submenu">
                <a href="javascript:void(0);" class="submenu-toggle">
                    <span class="menu-icon-wrap">
                        <span class="menu-icon"><i class="fa fa-ellipsis-h"></i></span>
                    </span>
                    بیشتر
                    <i class="fa fa-angle-down submenu-arrow"></i>
                </a>
                <ul class="submenu">
                    <li><a href="/aboutus">درباره ما</a></li>
                    <li><a href="/app">دانلود اپلیکیشن</a></li>
                    <li><a href="/faq">سوالات متداول</a></li>
                    <li><a href="/terms">قوانین و مقررات</a></li>
                    <li><a href="/contactus">تماس با ما</a></li>
                </ul>
            </li>

            <li>
                <a href="/Home/Cart" style="position:relative;">
                    <span class="menu-icon-wrap">
                        <span class="menu-icon"><i class="fa fa-shopping-cart"></i></span>
                        <span id="shoppingCount" class="cart-badge">1</span>
                    </span>
                    سبد خرید
                </a>
            </li>
        </ul>
        <!-- شبکه‌های اجتماعی -->
        <div class="side-menu-social">
            <a href="https://instagram.com/motoreto.ir" target="_blank"><i class="fa fa-instagram"></i></a>
            <a href="https://t.me/motoreto_ir" target="_blank"><i class="fa fa-paper-plane"></i></a> <!-- تلگرام -->
            <a href="https://wa.me/989128049946" target="_blank"><i class="fa fa-phone"></i></a> <!-- واتساپ -->
        </div>
    </aside>

    @RenderBody()
    @*<div class="map">
            <div id="map" style="width:100%;height:300px"></div>
        </div>*@
    <div class="footer-top-area">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-12 col-xs-12 pull-right newsletter">
                    <div class="content">
                        <div class="footer-menu">
                            <h2 class="footer-wid-title">عضویت در خبرنامه</h2>
                            <div class="footer-menu">
                                <ul>
                                    <li>با عضویت در خبرنامه از جدیدترین اخبار موتورتو مطلع شوید</li>
                                </ul>
                            </div><br />
                            <div class="input-group">
                                <input id="textnews2" class="form-control" type="email" placeholder="example@gmail.com" required>
                                <span class="input-group-btn">
                                    <input id="btntext2" class="btn" type="submit" value="ثبت">
                                </span>
                            </div>
                            <div class="text-center">
                                <h6 class="newsletter"><b id="msg2"></b></h6>
                            </div>
                        </div>
                    </div>
                    <div class="certificates">
                        <ul>
                            <li>
                                <img src="~/images/reza.png" alt="ساماندهی" title="ساماندهی" />
                            </li>
                            <li>
                                <img src="~/images/enamad.png" alt="اینماد" title="اینماد" />
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12 pull-right">
                    <div class="footer-menu">
                        <h2 class="footer-wid-title">تماس با ما </h2>
                        <ul>
                            <li>موبایل : 09128049946</li>
                            <li>تلفن : 02122735588</li>
                            <li>ایمیل : info@motoreto.ir</li>
                            <li>ساعت کاری : شنبه تا چهارشنبه 10 الی 17</li>
                            <li>
                                آدرس دفتر مرکزی : تجریش خیابان شهرداری ساختمان 110
                            </li>
                        </ul>
                        <div class="footer-social">
                            <a href="https://www.instagram.com/motoreto.ir" target="_blank"><i class="fa fa-instagram"></i></a>
                            <a href="https://telegram.me/motoreto.ir" target="_blank"><i class="fa fa-paper-plane-o"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                        </div>
                        <div id="dn">
                            <a href="#">
                                <img src="/images/bazaar-outline-new.png" width="150" alt="موتورتو" title="موتورتو">
                            </a>
                            <a href="#">
                                <img src="/images/googleplay-outline-new.png" width="150" alt="موتورتو" title="موتورتو">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-12 col-xs-12 pull-right">
                    <div class="footer-menu">
                        <h2 class="footer-wid-title">آخرین مقالات</h2>
                        <ul>
                            @foreach (var blog in content.Blogs.OrderByDescending(current => current.CreateDate).Where(current => current.IsVisible == true).Take(4).ToList())
                            {
                                <li><a href="/blog/@blog.Id/@blog.SefUrl">@blog.Title</a></li>
                            }
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-12 col-xs-12 pull-right">
                    <div class="footer-menu">
                        <h2 class="footer-wid-title">لینک ها</h2>
                        <ul>
                            <li><a href="/">صفحه اصلی</a></li>
                            @*<li><a href="/gallery">گالری</a></li>*@
                            <li><a href="/aboutus">درباره ما</a></li>
                            <li><a href="/blog/all">وبلاگ</a></li>
                            <li><a href="/contactus">تماس با ما</a></li>
                            <li><a href="/app">دانلود اپلیکیشن</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End footer top area -->
    <div class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright">
                        <p>&copy; تمامی حقوق برای  <span class="footer-brand">موتورتو</span> محفوظ است .</p>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End footer bottom area -->
    <div id="success-modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content shadow-lg">
                <div class="modal-header border-0">
                    <h5 class="modal-title text-success">
                        <i class="fa fa-check-circle"></i> محصول به سبد خرید اضافه شد
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="بستن">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body text-center">
                    <p class="mb-3">می‌خواهید ادامه خرید دهید ؟</p>
                </div>

                <div class="modal-footer justify-content-center border-0">
                    <a href="/Home/Cart" class="btn btn-primary px-4">
                        ادامه فرآیند خرید
                    </a>
                    <a href="/#specialproducts" class="btn btn-outline-warning px-4">
                        انتخاب محصولات بیشتر
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="scroll-up" style="display: block;"> <a href="#totop"><i class="fa fa-arrow-up"></i></a></div>
    <div id="menu-wrapper">
        @*<ul>
                <li>
                    <a onclick="myFunction()">
                        <i class="fa fa-close"></i><span>محصولات</span>
                    </a>
                </li>
                @foreach (var item in content.Categories.Where(current => current.ParentId == null).Include(current => current.SubCategories).ToList())
                {
                    <li class="has-megamenu">
                        <a href="#"><span>@item.PersianName</span></a>
                        <i class="fa fa-angle-left"></i>
                        <ul class="megamenu">
                            <div class="row">
                                @foreach (var sub in item.SubCategories.ToList())
                                {
                                    <div class="col-lg-4">
                                        <div class="subcategory">
                                            <a href="/product/all/@sub.Id" target="_self">
                                                <h4>@sub.PersianName</h4>
                                            </a>
                                            <ul>
                                                @foreach (var subzero in content.Categories.Where(curren => curren.ParentId == sub.Id).ToList())
                                                {
                                                    <li>
                                                        <a href="/product/all/@subzero.Id" target="_self">
                                                            @subzero.PersianName
                                                        </a>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                }
                            </div>
                        </ul>
                    </li>
                }
            </ul>*@
    </div>
    <div id="mobile-tabs">
        <a class="mobile-tab-wrapper link @(Request.Url.AbsolutePath == "/" ? "active" : "")" href="/">
            <i class="fa fa-home"></i>
            <small>خانه</small>
        </a>

        <a class="mobile-tab-wrapper @(Request.Url.AbsolutePath.ToLower().Contains("product") ? "active" : "")" href="/#categories">
            <i class="fa fa-bars"></i>
            <small>دسته بندی</small>
        </a>

        <a class="mobile-tab-wrapper link @(Request.Url.AbsolutePath.ToLower().Contains("cart") ? "active" : "")" href="/Home/Cart" style="position:relative;">
            <i class="fa fa-shopping-cart" style="font-size:30px"></i>
            <span id="shoppingCountMobile" class="cart-badge">@{ Html.RenderAction("CartCount", "Home"); }</span>
            <small>سبد خرید</small>
        </a>

        <a class="mobile-tab-wrapper link @(Request.Url.AbsolutePath.ToLower().Contains("contactus") ? "active" : "")" href="/contactus">
            <i class="fa fa-user"></i>
            <small>پشتیبانی</small>
        </a>
    </div>

    <a href="tel:+989128049946" class="fab-call" aria-label="تماس با موتورتو ۰۹۱۲۸۰۴۹۹۴۶">
        <svg class="fab-call__icon" viewBox="0 0 24 24" aria-hidden="true">
            <path fill="currentColor"
                  d="M6.62 10.79a15.053 15.053 0 006.59 6.59l2.2-2.2a1 1 0 01.98-.26c1.08.29 2.25.45 3.46.45a1 1 0 011 1v3.59a1 1 0 01-1 1C10.86 22 2 13.14 2 2.15a1 1 0 011-1H6.6a1 1 0 011 1c0 1.21.16 2.38.45 3.46a1 1 0 01-.26.98l-2.17 2.2z" />
        </svg>
        @*<span class="fab-call__label">۰۹۱۲۸۰۴۹۹۴۶</span>*@
    </a>
    <div id="pwa-install-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" dir="rtl">
        <div class="modal-dialog modal-sm">
            <div class="modal-content pwa-card">
                <div class="pwa-header">
                    <img src="/images/pwa/icon-192-maskable.png" alt="Motoreto" width="48" height="48">
                    <div>
                        <h4 class="pwa-title">نصب وب‌اپلیکیشن موتورتو</h4>
                        <small>دسترسی سریع‌تر، تجربه بهتر</small>
                    </div>
                </div>

                <div class="pwa-body">
                    <p class="m-b-none">می‌خوای نسخه وب‌اپلیکیشن موتورتو رو نصب کنی؟</p>

                    <!-- راهنمای iOS (فقط وقتی لازم شد نمایش می‌دیم) -->
                    <div id="pwa-ios-steps" style="display:none; margin-top:10px;">
                        <ol class="pwa-steps">
                            <li>
                                <span class="ios-share-icon" aria-hidden="true">
                                    <!-- iOS Share SVG -->
                                    <svg viewBox="0 0 24 24" width="18" height="18" focusable="false">
                                        <!-- پیکان رو به بالا -->
                                        <path d="M12 3l3.5 3.5-.7.7L12.5 4.6V14h-1V4.6L9.2 7.2l-.7-.7L12 3z" />
                                        <!-- جعبه پایین -->
                                        <path d="M6 10h1v9h10v-9h1v10a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V10z" />
                                    </svg>
                                </span>
                                روی دکمه <b>Share</b> (آیکن مربع با فلش) بزن.
                            </li>
                            <li><b>Add to Home Screen</b> یا <b>افزودن به صفحهٔ اصلی</b> رو انتخاب کن.</li>
                            <li>تأیید کن تا نصب شود.</li>
                        </ol>
                    </div>
                </div>

                <div class="pwa-actions">
                    <button id="pwa-install-yes" type="button" class="btn btn-primary btn-block">نصب کن</button>
                    <button id="pwa-install-no" type="button" class="btn btn-link btn-block">فعلاً نه</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Splash -->
    <div id="pwa-splash" class="pwa-splash" hidden aria-hidden="true" dir="rtl">
        <div class="pwa-splash__card">
            <div class="pwa-splash__ring"></div>
            <img src="/images/pwa/icon-192-maskable.png" alt="Motoreto" class="pwa-splash__logo" width="96" height="96">
            <h3 class="pwa-splash__title">موتورتو</h3>
            <p class="pwa-splash__subtitle">هوای ماشینتو داریم</p>
            <div class="pwa-splash__loader"></div>
        </div>
    </div>

    <!-- Latest jQuery form server -->
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <!-- Bootstrap JS form CDN -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <!-- jQuery sticky menu -->
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <script>
        (function ($) {
            if (!$.fn.owlCarousel) return;
            // پیش‌فرض‌های Owl2 را تغییر بده
            $.fn.owlCarousel.Constructor.Defaults.rtl = true;
        })(jQuery);
    </script>
    <script src="~/Content/js/jquery.sticky.js"></script>
    <!-- jQuery easing -->
    <script src="~/Content/js/jquery.easing.1.3.min.js"></script>
    <!-- Main Script -->
    <script src="~/Content/js/main.js"></script>
    <!-- Slider -->
    <script type="text/javascript" src="~/Content/js/bxslider.min.js"></script>
    <script type="text/javascript" src="~/Content/js/script.slider.js"></script>
    @RenderSection("Scripts", required: false)
    <script>
        function updateCartBadge(count) {
            // هدر
            const badgeHeader = $("#shoppingCount");
            badgeHeader.text(count).addClass("update");
            setTimeout(() => badgeHeader.removeClass("update"), 400);

            // موبایل
            const badgeMobile = $("#shoppingCountMobile");
            badgeMobile.text(count).addClass("update");
            setTimeout(() => badgeMobile.removeClass("update"), 400);

            // سایدمنو (جدید)
            const badgeSide = $("#shoppingCountSide");
            if (badgeSide.length) {
                badgeSide.text(count);
                // اگر 0 بود مخفی شود
                badgeSide.toggleClass("hidden", parseInt(count, 10) <= 0);
            }
        }
    </script>
    <script>
        $(document).ready(function () {
            $(".btncard").click(function (e) {
                e.preventDefault();
                var id = $(this).attr("productid");

                $.ajax({
                    url: "/Home/AddToShoppingCart",
                    data: { Id: id },
                    type: "Post",
                    dataType: "Json",
                    success: function (result) {
                        if (result.Success) {
                            updateCartBadge(result.CountHtml);
                            $("#success-modal").modal("show");
                        }
                    },
                    error: function () {
                        alert("خطایی رخ داده است !");
                    }
                });
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            // فلش سمت راست = قبلی
            $(".owl-prev").html('<i class="fa fa-chevron-right"></i>');

            // فلش سمت چپ = بعدی
            $(".owl-next").html('<i class="fa fa-chevron-left"></i>');
        });
    </script>
    <script>
        $("#btntext").click(function (e) {
            e.preventDefault()
            $.ajax({
                url: "@Url.Action("NewsLetter","Home")",
                contentType: "application/json; charset=utf-8",
                data: { text: $("#textnews").val() },
                dataType: "json",
                type: "GET",
                success: function (Data) {
                    if (Data.status == "1") {
                        $("#msg").text(Data.text)
                        $("#msg").css("color", "green");
                        $("#msg").css("font-size", "larger");
                        $("#msg").parent("h6").css("padding-top", "20px");
                    }
                    if (Data.status == "0") {
                        $("#msg").text(Data.text)
                        $("#msg").css("color", "red");
                        $("#msg").css("font-size", "larger");
                        $("#msg").parent("h6").css("padding-top", "20px");
                    }
                },
                error: function (jqhxr, statusText, error) { alert("خطایی رخ داده است لطفا دوباره امتحان کنید ."); }
            });
        });
    </script>
    <script>
        $("#btntext2").click(function (e) {
            e.preventDefault()
            $.ajax({
                url: "@Url.Action("NewsLetter","Home")",
                contentType: "application/json; charset=utf-8",
                data: { text: $("#textnews2").val() },
                dataType: "json",
                type: "GET",
                success: function (Data) {
                    if (Data.status == "1") {
                        $("#msg2").text(Data.text)
                        $("#msg2").css("color", "green");
                        $("#msg2").css("font-size", "larger");
                        $("#msg2").parent("h6").css("padding-top", "20px");
                    }
                    if (Data.status == "0") {
                        $("#msg2").text(Data.text)
                        $("#msg2").css("color", "red");
                        $("#msg2").css("font-size", "larger");
                        $("#msg2").parent("h6").css("padding-top", "20px");
                    }
                },
                error: function (jqhxr, statusText, error) { alert("خطایی رخ داده است لطفا دوباره امتحان کنید ."); }
            });
        });
    </script>
    <script type="text/javascript" src="~/Content/css/jquery-func.js"></script>
    <script>
        $(window).load(function () {
            $(".btn-nav").on("click tap", function () {
                $(".nav-container").toggleClass("showNav hideNav").removeClass("hidden");
                $(this).toggleClass("animated");
            });
        });
    </script>
    <script src="~/Content/css/move-top.js"></script>
    <script src="~/Content/css/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
    @*<script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"></script>
        <script>
            var map, newMarker, markerLocation;
            var theMarker = {};
            $(function () {
                map = L.map('map').setView([35.806362, 51.4296549], 15);
                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    attribution: 'موتورتو',
                    maxZoom: 18
                }).addTo(map);
                newMarkerGroup = new L.LayerGroup();
                map.addLayer(newMarkerGroup);
                markerLocation = L.marker([35.806362, 51.4296549]).addTo(map)
                .bindPopup("<div style='text-align:center !important;' id='infoWindow' style='text-align:center;padding:2px;'><img id='logoboxwindow' style='width:30px;padding-top:15px !important;' src='/images/sadr_logo.png'/><p id='infoWindowHeader' style='font-weight:bold;font-size:16px'>موتورتو</p><p id='infoWindowStreetName' style='font-size:14px;border-bottom:1px solid rgba(123,123,123,0.4);padding-bottom:5px;'</p><p id='infoWindowNumber' style='font-size:12px'><span id='mobileNumbebrInfo'>09128049946</span></p><br/><span id='email'>info@@motoreto.ir</span><p id='infoWindowWeb' style='font-size:12px;font-weight:bold'><span id='websiteInfo'></span>&nbsp; &nbsp;<span id='emailInfo'></span></p><p id='infoWindowZipCode' style='font-size:12px'></p></div>")
                .openPopup();
            });
        </script>*@
    <script>
        $(window).scroll(function () {
            if ($(this).scrollTop() <= $('#totop').offset().top) {
                $('.scroll-up').fadeOut("slow");
            } else {
                $('.scroll-up').fadeIn("slow");
            }
        });
    </script>
    <script>
        (function ($) {
            $(document).ready(function () {
                $('ul.dropdown-menu [data-toggle=dropdown]').on('click', function (event) {
                    event.preventDefault();
                    event.stopPropagation();
                    $(this).parent().siblings().removeClass('open');
                    $(this).parent().toggleClass('open');
                });
            });
        })(jQuery);
    </script>
    <script src="/Scripts/persianumber.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('body').persiaNumber();
        });
    </script>
    <script>
        function openSearch() {
            document.getElementById("myOverlay").style.display = "block";
        }

        function closeSearch() {
            document.getElementById("myOverlay").style.display = "none";
        }
    </script>
    <script>
        function myFunction() {
            var x = document.getElementById("menu-wrapper");
            if (x.style.right === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>
    <script>
        function func2() {
            var x = document.getElementById("menu-wrapper");
            x.style.display = "block";
        }
    </script>
    <script>
        (function () {
            function placeFab() {
                var fab = document.querySelector('.fab-call');
                var tabs = document.getElementById('mobile-tabs');
                if (!fab) return;

                // موبایل: 20px بالاتر از ارتفاع bottom nav
                if (window.innerWidth <= 768 && tabs) {
                    var gap = 20;
                    fab.style.bottom = (tabs.offsetHeight + gap) + 'px';
                } else {
                    fab.style.bottom = '20px'; // دسکتاپ
                }
            }
            window.addEventListener('load', placeFab);
            window.addEventListener('resize', placeFab);
            document.addEventListener('DOMContentLoaded', placeFab);
        })();
    </script>
    <script>
        $(document).ready(function () {
            // اول همه تب‌ها رو خالی کن
            $("#mobile-tabs .mobile-tab-wrapper").removeClass("active");

            // آدرس کامل مرورگر
            const url = window.location.href;

            if (url.includes("#categories")) {
                $("#mobile-tabs .mobile-tab-wrapper[href*='#categories']").addClass("active");
            }
            else if (url.toLowerCase().includes("cart")) {
                $("#mobile-tabs .mobile-tab-wrapper[href*='cart']").addClass("active");
            }
            else if (url.toLowerCase().includes("contactus")) {
                $("#mobile-tabs .mobile-tab-wrapper[href*='contactus']").addClass("active");
            }
            else {
                // پیش‌فرض خانه
                $("#mobile-tabs .mobile-tab-wrapper[href='/']").addClass("active");
            }
        });
    </script>
    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/sw.js')
                    .catch(err => console.warn('SW register failed', err));
            });
        }
    </script>
    <script>
        (function () {
            var MODAL = '#pwa-install-modal';
            var BTN_YES = '#pwa-install-yes';
            var BTN_NO = '#pwa-install-no';
            var IOS_STEPS = '#pwa-ios-steps';

            var DISMISS_COOKIE = 'pwa_prompt_dismissed';
            var INSTALLED_COOKIE = 'pwa_installed';
            var DISMISS_DAYS = 2;
            var deferredPrompt = null;

            function setCookie(name, value, days) {
                var d = new Date(); d.setTime(d.getTime() + (days * 864e5));
                document.cookie = name + "=" + encodeURIComponent(value) + ";expires=" + d.toUTCString() + ";path=/";
            }
            function getCookie(name) {
                var v = ("; " + document.cookie).split("; " + name + "=");
                return v.length === 2 ? decodeURIComponent(v.pop().split(";").shift()) : null;
            }

            function isStandalone() {
                return window.matchMedia('(display-mode: standalone)').matches || window.navigator.standalone === true;
            }
            function isIOS() { return /iphone|ipad|ipod/i.test(navigator.userAgent.toLowerCase()); }
            function isSafari() { return /^((?!chrome|android).)*safari/i.test(navigator.userAgent.toLowerCase()); }
            function isIOSSafari() { return isIOS() && isSafari(); }

            function shouldAsk() {
                if (isStandalone()) return false;
                if (getCookie(INSTALLED_COOKIE)) return false;
                if (getCookie(DISMISS_COOKIE)) return false;
                return true;
            }

            function openModal() {
                if (!shouldAsk()) return;

                if (isIOSSafari()) {
                    // دکمه نصب کن رو مخفی کن
                    var btnYes = document.querySelector(BTN_YES);
                    if (btnYes) btnYes.style.display = 'none';

                    // متن دکمه نه → متوجه شدم
                    var btnNo = document.querySelector(BTN_NO);
                    if (btnNo) btnNo.textContent = 'متوجه شدم';

                    // راهنما رو نشون بده
                    var iosSteps = document.querySelector(IOS_STEPS);
                    if (iosSteps) iosSteps.style.display = 'block';
                }

                if (!deferredPrompt && !isIOSSafari()) return;

                if (window.jQuery && jQuery.fn && jQuery.fn.modal) {
                    jQuery(MODAL).modal('show');
                } else {
                    window.addEventListener('load', function () { jQuery(MODAL).modal('show'); }, { once: true });
                }
            }

            window.addEventListener('beforeinstallprompt', function (e) {
                e.preventDefault();
                deferredPrompt = e;
                setTimeout(openModal, 600);
            });

            window.addEventListener('load', function () {
                // برای iOS که beforeinstallprompt ندارد
                setTimeout(openModal, 800);
            });

            document.addEventListener('click', async function (e) {
                var yes = e.target.closest(BTN_YES);
                var no = e.target.closest(BTN_NO);

                if (yes && !isIOSSafari() && deferredPrompt) {
                    deferredPrompt.prompt();
                    try {
                        var choice = await deferredPrompt.userChoice;
                        deferredPrompt = null;
                        if (choice && choice.outcome === 'accepted') {
                            setCookie(INSTALLED_COOKIE, '1', 3650);
                        } else {
                            setCookie(DISMISS_COOKIE, '1', DISMISS_DAYS);
                        }
                    } catch (_) {
                        setCookie(DISMISS_COOKIE, '1', DISMISS_DAYS);
                    }
                    jQuery(MODAL).modal('hide');
                }

                if (no) {
                    setCookie(DISMISS_COOKIE, '1', DISMISS_DAYS);
                    jQuery(MODAL).modal('hide');
                }
            });

            window.addEventListener('appinstalled', function () {
                setCookie(INSTALLED_COOKIE, '1', 3650);
                if (window.jQuery) jQuery(MODAL).modal('hide');
            });
        })();
    </script>

    <!-- Splash فقط دسکتاپ -->
    <script>
        (function () {
            var SPLASH_ID = 'pwa-splash';
            var SEEN_COOKIE = 'pwa_splash_seen';
            var SEEN_DAYS = 1;
            var SHOW_MS = 5000;

            function setCookie(n, v, d) {
                var t = new Date(); t.setTime(t.getTime() + d * 864e5);
                document.cookie = n + "=" + encodeURIComponent(v) + ";expires=" + t.toUTCString() + ";path=/";
            }
            function getCookie(n) { var m = ("; " + document.cookie).split("; " + n + "="); return m.length === 2 ? decodeURIComponent(m.pop().split(";").shift()) : null; }

            // فقط دسکتاپ
            var isDesktop = window.matchMedia('(min-width: 769px)').matches && !/Android|iPhone|iPad|iPod|IEMobile|Opera Mini/i.test(navigator.userAgent);
            if (!isDesktop) return;

            function showSplash() {
                var el = document.getElementById(SPLASH_ID);
                if (!el || getCookie(SEEN_COOKIE)) return;
                el.hidden = false;
                document.documentElement.classList.add('pwa-noscroll');
                document.body.classList.add('pwa-noscroll');
                function hide() {
                    el.classList.add('hide');
                    document.documentElement.classList.remove('pwa-noscroll');
                    document.body.classList.remove('pwa-noscroll');
                    setCookie(SEEN_COOKIE, '1', SEEN_DAYS);
                }
                window.addEventListener('load', function () { setTimeout(hide, SHOW_MS); }, { once: true });
                if ('serviceWorker' in navigator) {
                    navigator.serviceWorker.ready.then(function () { setTimeout(function () { if (!el.classList.contains('hide')) hide(); }, 600); });
                }
                setTimeout(function () { if (!el.classList.contains('hide')) hide(); }, SHOW_MS + 2500);
            }

            requestAnimationFrame(showSplash);
        })();
    </script>

    <!-- Mobile Loader همان قبلی با پس‌زمینه نیمه‌شفاف -->
    <script>
        (function () {
            var el = document.getElementById('mb-loader');
            if (!el) return;

            var isMobile = window.matchMedia('(max-width: 768px)').matches ||
                /Android|iPhone|iPad|iPod|IEMobile|Opera Mini/i.test(navigator.userAgent);
            if (!isMobile) { if (el.parentNode) el.parentNode.removeChild(el); return; }

            document.documentElement.style.overflow = 'hidden';
            document.body.style.overflow = 'hidden';

            function hideLoader() {
                if (!el) return;
                el.classList.add('hide');
                setTimeout(function () {
                    document.documentElement.style.overflow = '';
                    document.body.style.overflow = '';
                    if (el && el.parentNode) { el.parentNode.removeChild(el); el = null; }
                }, 380);
            }

            window.addEventListener('load', hideLoader, { once: true });
            if ('serviceWorker' in navigator) {
                navigator.serviceWorker.ready.then(function () { setTimeout(hideLoader, 400); });
            }
            setTimeout(hideLoader, 7000);
        })();
    </script>
    <script>
        const sideMenu = document.getElementById("sideMenu");
        const overlay = document.getElementById("menuOverlay");

        document.getElementById("openMenuBtn").addEventListener("click", function () {
            sideMenu.classList.add("open");
            overlay.classList.add("show");
        });

        document.getElementById("closeMenuBtn").addEventListener("click", closeMenu);
        overlay.addEventListener("click", closeMenu);

        function closeMenu() {
            sideMenu.classList.remove("open");
            overlay.classList.remove("show");
        }

    </script>
    <script>
        document.querySelectorAll(".submenu-toggle").forEach(function (toggle) {
            toggle.addEventListener("click", function (e) {
                e.preventDefault();
                let parent = this.parentElement;
                let submenu = parent.querySelector(".submenu");
                let arrow = this.querySelector(".submenu-arrow");

                // بستن ساب‌منوهای دیگر
                document.querySelectorAll(".submenu").forEach(s => {
                    if (s !== submenu) s.style.display = "none";
                });

                // باز/بسته کردن این ساب‌منو
                if (submenu.style.display === "block") {
                    submenu.style.display = "none";
                    arrow.style.transform = "rotate(0deg)";
                } else {
                    submenu.style.display = "block";
                    arrow.style.transform = "rotate(180deg)";
                }
            });
        });

    </script>
</body>
</html>