@using Microsoft.AspNetCore.Identity
@using Domain
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>@ViewBag.Title - موتورتو</title>

    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/nav.css" rel="stylesheet" />
    <link href="~/style.css" rel="stylesheet" />

    @RenderSection("Styles", required: false)
</head>
<body id="totop">

    <!-- Header -->
    <header class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">موتورتو</a>

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto" id="menuCategories">
                    <!-- دسته بندی‌ها اینجا با AJAX پر می‌شوند -->
                </ul>

                <ul class="navbar-nav">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li class="nav-item"><a class="nav-link">سلام، @User.Identity.Name</a></li>
                        <li class="nav-item"><a class="nav-link" href="/account/logout">خروج</a></li>
                    }
                    else
                    {
                        <li class="nav-item"><a class="nav-link" href="/account/loginaccount">ورود / ثبت نام</a></li>
                    }

                    <li class="nav-item">
                        <a href="/Home/Cart" class="nav-link position-relative">
                            <i class="fa fa-shopping-cart"></i>
                            <span id="shoppingCount" class="badge badge-danger">0</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    <!-- Main body -->
    <main role="main" class="container">
        @RenderBody()
    </main>

    <!-- Footer -->
    <footer class="footer-top-area bg-dark text-light mt-5 pt-4 pb-4">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h5>درباره ما</h5>
                    <p>موتورتو؛ فروشگاه آنلاین قطعات یدکی خودرو</p>
                </div>
                <div class="col-md-4">
                    <h5>آخرین مقالات</h5>
                    <ul id="latestBlogs"></ul>
                </div>
                <div class="col-md-4">
                    <h5>تماس با ما</h5>
                    <p>تلفن: 02122735588</p>
                    <p>موبایل: 09128049946</p>
                    <p>ایمیل: info@motoreto.ir</p>
                </div>
            </div>
        </div>
        <div class="footer-bottom-area text-center mt-3">
            <p>&copy; تمامی حقوق برای موتورتو محفوظ است.</p>
        </div>
    </footer>

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)

    <script>
        function loadCartCount() {
            $.get("/Layout/CartCount", function (res) {
                $("#shoppingCount").text(res.count);
            });
        }

        function loadLatestBlogs() {
            $.get("/Layout/LatestBlogs", function (res) {
                var list = $("#latestBlogs");
                list.empty();
                res.forEach(function (b) {
                    list.append('<li><a href="/blog/' + b.id + '/' + b.sefUrl + '">' + b.title + '</a></li>');
                });
            });
        }

        function loadCategories() {
            $.get("/Layout/Categories", function (res) {
                var menu = $("#menuCategories");
                menu.empty();
                res.forEach(function (cat) {
                    var li = '<li class="nav-item dropdown">';
                    li += '<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">' + cat.persianName + '</a>';
                    li += '<div class="dropdown-menu">';
                    cat.subs.forEach(function (sub) {
                        li += '<a class="dropdown-item" href="/product/all/' + sub.id + '">' + sub.persianName + '</a>';
                    });
                    li += '</div></li>';
                    menu.append(li);
                });
            });
        }

        $(function () {
            loadCartCount();
            loadLatestBlogs();
            loadCategories();
        });
    </script>
</body>
</html>
