@model Application.DTOs.ViewModels.AdminDashboardViewModel
@{
    ViewBag.Title = "پنل مدیریتی موتورتو";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-3">
            <div class="widget style1">
                <div class="row">
                    <div class="col-xs-4 text-center"><i class="fa fa-calendar-o fa-5x"></i></div>
                    <div class="col-xs-8 text-right">
                        <span>امروز</span>
                        <h2 class="font-bold">@Model.Today</h2>
                    </div>
                </div>
            </div>
        </div>
        <a href="/Administrator/SiteMessages/Index">
            <div class="col-lg-3">
                <div class="widget style1 navy-bg">
                    <div class="row">
                        <div class="col-xs-4"><i class="fa fa-file-text fa-5x"></i></div>
                        <div class="col-xs-8 text-right">
                            <span>پیام سایت</span>
                            <h2 class="font-bold">@Model.MessagesCount</h2>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <a href="/Administrator/Orders/Index">
            <div class="col-lg-3">
                <div class="widget style1 lazur-bg">
                    <div class="row">
                        <div class="col-xs-4"><i class="fa fa-list-alt fa-5x"></i></div>
                        <div class="col-xs-8 text-right">
                            <span>سفارشات</span>
                            <h2 class="font-bold">@Model.OrdersCount</h2>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <a href="/Administrator/Users/Index">
            <div class="col-lg-3">
                <div class="widget style1 yellow-bg">
                    <div class="row">
                        <div class="col-xs-4"><i class="fa fa-user fa-5x"></i></div>
                        <div class="col-xs-8 text-right">
                            <span>کاربران</span>
                            <h2 class="font-bold">@Model.UsersCount</h2>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>

<div style="height:1150px">
    <canvas id="myChart"></canvas>
    <canvas id="myChart2"></canvas>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script>
        var dates = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Dates));
        var ordersCount = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.OrdersPerDay));
        var usersCount = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.UsersPerDay));

        var ctx = document.getElementById("myChart").getContext("2d");
        new Chart(ctx, {
            type: 'bar',
            data: { labels: dates, datasets: [{ label: "سفارشات اخیر", backgroundColor: "rgba(75,192,192,0.6)", data: ordersCount }] },
            options: { responsive: true }
        });

        var ctx2 = document.getElementById("myChart2").getContext("2d");
        new Chart(ctx2, {
            type: 'bar',
            data: { labels: dates, datasets: [{ label: "کاربران ثبت‌نام شده", backgroundColor: "rgba(255,159,64,0.6)", data: usersCount }] },
            options: { responsive: true }
        });
    </script>
}
