@model Application.DTOs.ViewModels.HomeIndexViewModel
@{
    ViewBag.Title = "موتورتو | فروش آنلاین قطعات خودرو";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Metas {
    <meta name="description" content="فروشگاه اینترنتی موتورتو فعال در زمینه فروش انواع قطعات مصرفی خودرو شامل فیلتر روغن ، فیلتر هوا ، فیلتر بنزین ، فیلتر کابین ، روغن موتور و روانکار و غیره است .">
    <meta name="Keywords" content="قطعات مصرفی خودرو">
    <meta property="og:title" content="موتورتو ، فروش آنلاین قطعات خودرو | Motoreto" />
    <meta property="og:url" content="http://www.motoreto.ir/" />
    <meta property="og:image" content="http://www.motoreto.ir/images/sadr_logo.png" />
    <meta name="twitter:image" content="http://www.motoreto.ir/images/sadr_logo.png">
}

@section Styles {
    <script type="application/ld+json">
        {
        "@@context": "http://schema.org",
        "@@type": "Organization",
        "name": "موتورتو",
        "description": "موتورتو ، فروش آنلاین قطعات خودرو | Motoreto",
        "logo": "http://www.motoreto.ir/images/sadr_logo.png",
        "url": "http://www.motoreto.ir",
        "sameAs": [ "https://www.instagram.com/motoreto.ir",
        "https://telegram.me/motoreto.ir"],
        "address": "تجریش خیابان شهرداری ساختمان 110",
        "contactPoint": [{
        "@@type": "ContactPoint",
        "telephone": ["+98-21-22735588"],
        "contactType": "customer service"
        }]
        }
    </script>
    <link rel="stylesheet" type="text/css" href="~/library/engine1/style.css" />
    <link href="~/content/Professor/assets/css/form-elements.css" rel="stylesheet" />
    <link href="~/content/Professor/assets/css/style.css" rel="stylesheet" />
    <link href="~/content/Professor/assets/css/media-queries.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.0/animate.compat.min.css" />
    <style>
        .d-md-flex {
            display: flex;
            justify-content: center;
        }
    </style>
}

<!-- شروع محتوای صفحه -->
<br />
<div class="promo-area gold-bg firstshow">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="text-center main_h1">
            <h1 title="موتورتو ، فروش آنلاین قطعات خودرو | Motoreto">موتورتو ، فروش آنلاین قطعات خودرو | Motoreto</h1>
            <h2>هوای ماشینتو داریم</h2>
            <div class="wow bounceIn">
                <img src="~/images/sadr_logo.png" width="100" height="100" class="spin-slow" alt="موتورتو"
                     style="background-color:#ffffff;border-radius:25px;" />
            </div>
        </div>
    </div>
</div>

<!-- اسلایدر -->
@if (Model.Sliders != null && Model.Sliders.Any())
{
    <br />
    <br />
    int i = 0;
    int j = 0;
    <div class="container">
        <div id="wowslider-container1">
            <div class="ws_images">
                <ul>
                    @foreach (var item in Model.Sliders)
                    {
                        <li>
                            <a href="@(string.IsNullOrEmpty(item.Link) ? "#" : item.Link)">
                                <img src="@Url.Content(item.Image)" alt="موتورتو" title="موتورتو" id="wows1_@i" />
                            </a>
                        </li>
                        i++;
                    }
                </ul>
            </div>
            <div class="ws_bullets">
                <div>
                    @foreach (var item in Model.Sliders)
                    {
                        <a href="@(string.IsNullOrEmpty(item.Link) ? "#" : item.Link)" title="موتورتو">
                            <span>
                                <img src="@item.Image" alt="موتورتو" title="موتورتو" />
                            </span>
                        </a>
                        j++;
                    }
                </div>
            </div>
            <div class="ws_shadow"></div>
        </div>
    </div>
    <br />
}

<!-- هشدار بالای صفحه -->
<div class="container">
    <div class="alert-custom wow fadeInUp" data-wow-delay="0.5s">
        <span>تمامی خدمات تعمیر و تعویض توسط <b>موتورتو</b> در محل شما انجام می‌شود .</span>
        <i class="fa fa-wrench"></i>
    </div>
</div>

<!-- دسته‌بندی اصلی -->
<div class="container categories-section" id="categories">
    <div class="categories-grid">
        @foreach (var cat in Model.Categories)
        {
            <div class="category-card" data-toggle="modal" data-target="#modal-@cat.Id">
                <img src="@(string.IsNullOrEmpty(cat.SmallImage) ? Url.Content("~/images/sadr_logo.png") : cat.SmallImage)"
                     alt="@cat.PersianName" title="@cat.PersianName" />
                <h4>@cat.PersianName</h4>
            </div>
        }
    </div>
</div>

<!-- دسته‌بندی بر اساس خودرو -->
<br />
<br />
<div class="container">
    <h3 class="section-title text-center">دسته‌بندی بر اساس نوع خودرو</h3>
    <div class="car-slider-wrapper">
        <button class="car-prev">›</button>
        <div class="car-slider">
            @foreach (var sub in Model.CarCategories)
            {
                <div class="car-category-item text-center">
                    <a href="/product/bycar/@Uri.EscapeDataString(sub.PersianName)">
                        <div class="car-circle">
                            <img src="@(string.IsNullOrEmpty(sub.SmallImage) ? Url.Content("~/images/sadr_logo.png") : sub.SmallImage)"
                                 alt="@sub.PersianName" title="@sub.PersianName" />
                        </div>
                        <h5 class="car-name">@sub.PersianName</h5>
                    </a>
                </div>
            }
        </div>
        <button class="car-next">‹</button>
    </div>
</div>

<!-- پیشنهاد شگفت انگیز -->
@if (Model.Wonder != null)
{
    <br />
    <div class="container wow bounceIn" data-wow-delay="0.6s" id="wonder">
        <div class="row" style="direction:rtl!important;">
            <div class="col-md-8 col-xs-12 text-center wond">
                <a href="/product/@Model.Wonder.SefUrl">
                    <img src="@Model.Wonder.AppLargeImage" width="250" alt="@Model.Wonder.PersianName" title="@Model.Wonder.PersianName" class="img-fluid img-responsive" />
                    <br />
                    <b>@Model.Wonder.PersianName</b>
                </a>
            </div>
            <div class="col-md-4 col-xs-12 text-center">
                <p style="font-size:32px;color:#e31e24;padding-top:75px;" id="wonderful"></p>
                <span>زمان باقی مانده</span><br />
            </div>
        </div>
    </div>
}

<!-- محصولات جدید -->
@if (Model.LatestProducts != null && Model.LatestProducts.Any())
{
    <div class="maincontent-area wow slideInRight" id="specialproducts">
        <div class="container">
            <div class="latest-product">
                <h3 class="section-title">محصولات جدید</h3>
                <div class="product-carousel">
                    @foreach (var item in Model.LatestProducts)
                    {
                        <div class="single-product">
                            <div class="product-f-image">
                                <img src="@(item.SiteFirstImage ?? Url.Content("~/images/sadr_logo.png"))" alt="@item.PersianName" title="@item.PersianName" />
                                <div class="product-hover">
                                    @if (item.Stock > 0)
                                    {
                                        <a class="add-to-cart-link btncard" productid="@item.Id"><i class="fa fa-shopping-cart"></i> سبد خرید</a>
                                    }
                                    else
                                    {
                                        <a class="add-to-cart-link"><i class="fa fa-lock"></i>ناموجود</a>
                                    }
                                    <a href="/Product/@item.SefUrl" class="view-details-link"><i class="fa fa-link"></i> جزئیات</a>
                                </div>
                            </div>
                            <div class="product-title">
                                <h2><a href="/Product/@item.SefUrl">@item.PersianName</a></h2>
                                <div class="product-carousel-price">
                                    @if (item.DiscountPercent > 0)
                                    {
                                        var price = item.UnitPrice - (item.UnitPrice * item.DiscountPercent / 100);
                                        <ins>@price.ToString("N0") ریال</ins>
                                        <del>@item.UnitPrice.ToString("N0")</del>
                                    }
                                    else
                                    {
                                        <ins>@item.UnitPrice.ToString("N0") ریال</ins>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}

<!-- محصولات ویژه -->
@if (Model.SpecialProducts != null && Model.SpecialProducts.Any())
{
    <div class="maincontent-area wow slideInRight">
        <div class="container">
            <div class="latest-product">
                <h3 class="section-title">محصولات ویژه</h3>
                <div class="product-carousel">
                    @foreach (var item in Model.SpecialProducts)
                    {
                        <div class="single-product">
                            <div class="product-f-image">
                                <img src="@item.SiteFirstImage" alt="@item.PersianName" title="@item.PersianName" />
                                <div class="product-hover">
                                    @if (item.Stock > 0)
                                    {
                                        <a class="add-to-cart-link btncard" productid="@item.Id"><i class="fa fa-shopping-cart"></i> سبد خرید</a>
                                    }
                                    else
                                    {
                                        <a class="add-to-cart-link"><i class="fa fa-lock"></i>ناموجود</a>
                                    }
                                    <a href="/Product/@item.SefUrl" class="view-details-link"><i class="fa fa-link"></i> جزئیات</a>
                                </div>
                            </div>
                            <h2><a href="/Product/@item.SefUrl">@item.PersianName</a></h2>
                            <div class="product-carousel-price">
                                @if (item.DiscountPercent > 0)
                                {
                                    var price = item.UnitPrice - (item.UnitPrice * item.DiscountPercent / 100);
                                    <ins>@price.ToString("N0") ریال</ins>
                                    <del>@item.UnitPrice.ToString("N0")</del>
                                }
                                else
                                {
                                    <ins>@item.UnitPrice.ToString("N0") ریال</ins>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}

<!-- Scripts -->
@section Scripts {
    <script>
        $(document).ready(function () {
            $("#myModal").modal();
        });
    </script>

    <script>
        // Smooth scroll
        $(function () {
            $('a[href*="#"]:not([href="#"])').click(function () {
                if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
                    && location.hostname == this.hostname) {
                    var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                    if (target.length) {
                        $('html, body').animate({ scrollTop: target.offset().top }, 1000);
                        return false;
                    }
                }
            });
        });
    </script>

    @if (Model.Sliders != null && Model.Sliders.Any())
    {
        <text>
            <script type="text/javascript" src="~/library/engine1/wowslider.js"></script>
            <script type="text/javascript" src="~/library/engine1/script.js"></script>
            <script>
                jQuery("#wowslider-container1").wowSlider({
                    effect: "shift",
                    duration: 2000,
                    delay: 6000,
                    width: 900,
                    height: 500,
                    autoPlay: true,
                    stopOnHover: true,
                    loop: true,
                    bullets: 1,
                    caption: true,
                    controls: true,
                    responsive: 1,
                    fullScreen: true,
                    gestures: 2
                });
            </script>
        </text>
    }

    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <script>
        new WOW({
            animateClass: 'animated',
            offset: 100,
            loop: true
        }).init();
    </script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/css/select2.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/js/select2.min.js"></script>
    <script>
        function toPersianDigits(str) {
            return (str || "").replace(/\d/g, d => "۰۱۲۳۴۵۶۷۸۹"[d]);
        }
        function toEnglishDigits(str) {
            return (str || "").replace(/[۰-۹]/g, d => "۰۱۲۳۴۵۶۷۸۹".indexOf(d));
        }

        var $select = $(".js-example-data-ajax").select2({
            ajax: {
                url: "/Product/GetWithStock",
                dataType: "json",
                delay: 250,
                data: function (params) {
                    let normalized = toEnglishDigits(params.term);
                    return { q: normalized };
                },
                processResults: function (data) {
                    if (data.Status === 1) {
                        let results = data.Data.map(x => ({ id: x.id, text: toPersianDigits(x.text) }));
                        return { results: results };
                    }
                    return { results: [] };
                },
                cache: true
            },
            placeholder: "به دنبال چه محصولاتی هستید ؟",
            allowClear: true,
            minimumInputLength: 2
        });

        $('.js-example-data-ajax').on('select2:select', function (e) {
            var sefUrl = $(this).val();
            if (sefUrl) window.location.href = "/product/" + sefUrl;
        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const slider = document.querySelector(".car-slider");
            const prev = document.querySelector(".car-prev");
            const next = document.querySelector(".car-next");
            const scrollStep = 250;
            const isRTL = getComputedStyle(slider).direction === "rtl";

            next.addEventListener("click", () => {
                slider.scrollBy({ left: isRTL ? -scrollStep : scrollStep, behavior: "smooth" });
            });
            prev.addEventListener("click", () => {
                slider.scrollBy({ left: isRTL ? scrollStep : -scrollStep, behavior: "smooth" });
            });
        });
    </script>
}
