@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager NavManager
@inject HttpClient Http
@inject IJSRuntime JS

@code {
    private int CartCount = 0;
    private bool isAuthenticated;
    private bool isAdmin;
    private bool isUser;
    private string pageTitle = "موتورتو | فروش آنلاین قطعات خودرو";

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        isAuthenticated = user.Identity?.IsAuthenticated ?? false;
        isAdmin = user.IsInRole("Administrator");
        isUser = user.IsInRole("User");

        try
        {
            CartCount = await Http.GetFromJsonAsync<int>("home/count");
        }
        catch (Exception ex)
        {
            Console.WriteLine("Error loading cart count: " + ex.Message);
            CartCount = 0;
        }
    }

    private bool IsActive(string segment) =>
        NavManager.Uri.ToLower().Contains(segment);

    private bool IsHomeActive() =>
        NavManager.Uri.TrimEnd('/').Equals(NavManager.BaseUri.TrimEnd('/'), StringComparison.OrdinalIgnoreCase);
}

<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <title>@pageTitle</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
    <link rel="canonical" href="/">
    <link rel="alternate" href="/" hreflang="fa-ir" />
    <meta name="author" content="Motoreto">
    <meta name="Designer" content="Design, Develope by, Motoreto Group, Co. Email : info@motoreto.ir">
    <meta name="DC.Subject" content="موتورتو ، فروش آنلاین قطعات خودرو | Motoreto" />
    <meta name="copyright" content="https://gladcherry.org, 2020 - software company">
    <meta name="expires" content="never">
    <meta name="rating" content="Safe For Kids">
    <meta name=language content=fa_ir />
    <meta name=geo.region content=ir>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <meta name="og:site_name" content="موتورتو">
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="fa_ir">
    <meta property="og:image" content="http://motoreto.ir/images/sadr_logo.png" />
    <meta property="og:image:secure_url" content="http://motoreto.ir/images/sadr_logo.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="248" />
    <meta property="og:image:height" content="249" />
    <meta property="og:image:alt" content="motoreto.ir" />
    <meta name="email" content="info@motoreto.ir" />
    <meta name="document-type" content="Public" />
    <meta name="document-rating" content="General" />
    <meta name="classification" content="Consumer" />
    <meta name="robots" content="INDEX,FOLLOW">
    <meta name="googlebot" content="index">
    <meta property="place:location:latitude" content="35.806362" />
    <meta property="place:location:longitude" content="51.4296549" />
    <meta property="business:contact_data:street_address" content="تجریش خیابان شهرداری ساختمان 110" />
    <meta property="business:contact_data:locality" content="تهران" />
    <meta property="business:contact_data:country_name" content="ایران" />
    <meta property="business:contact_data:phone_number" content="+98 21 22735588 " />
    <meta property="business:contact_data:website" content="http://motoreto.ir" />
    <meta property="business:contact_data:email" content="info@motoreto.ir" />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="فروش آنلاین قطعات خودرو | Motoreto">
    <meta name="twitter:domain" content="فروش آنلاین قطعات خودرو | Motoreto">
    <meta property="twitter:app:country" content="ir" />
    <link rel="manifest" href="/manifest.webmanifest">
    <meta name="theme-color" content="#00016e">
    <!-- iOS PWA -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#d4df21">
    <meta name="apple-mobile-web-app-title" content="Motoreto">
    <link rel="touch-icon" href="~/images/pwa/ban-192.png">
    <link rel="apple-touch-startup-image" href="/images/pwa/splash-640x1136.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)">
    <link rel="apple-touch-startup-image" href="/images/pwa/splash-750x1334.png" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)">
    <link rel="apple-touch-startup-image" href="/images/pwa/splash-1242x2208.png" media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3)">
    <link rel="apple-touch-startup-image" href="/images/pwa/splash-1125x2436.png" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)">
    <link rel="apple-touch-startup-image" href="/images/pwa/splash-828x1792.png" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)">
    <link rel="apple-touch-startup-image" href="/images/pwa/splash-1242x2688.png" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)">
    <link rel="apple-touch-startup-image" href="/images/pwa/splash-1536x2048.png" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)">
    <link rel="apple-touch-startup-image" href="/images/pwa/splash-1668x2224.png" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2)">
    <link rel="apple-touch-startup-image" href="/images/pwa/splash-1668x2388.png" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2)">
    <link rel="apple-touch-startup-image" href="/images/pwa/splash-2048x2732.png" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2)">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 440px) and (device-height: 956px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="/images/pwa/splash_screens/iPhone_17_Pro_Max__iPhone_16_Pro_Max_landscape.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 402px) and (device-height: 874px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="/images/pwa/splash_screens/iPhone_17_Pro__iPhone_17__iPhone_16_Pro_landscape.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 430px) and (device-height: 932px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="/images/pwa/splash_screens/iPhone_17_Air__iPhone_16_Plus__iPhone_15_Pro_Max__iPhone_15_Plus__iPhone_14_Pro_Max_landscape.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 393px) and (device-height: 852px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="/images/pwa/splash_screens/iPhone_16__iPhone_15_Pro__iPhone_15__iPhone_14_Pro_landscape.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="/images/pwa/splash_screens/iPhone_14_Plus__iPhone_13_Pro_Max__iPhone_12_Pro_Max_landscape.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="/images/pwa/splash_screens/iPhone_16e__iPhone_14__iPhone_13_Pro__iPhone_13__iPhone_12_Pro__iPhone_12_landscape.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="/images/pwa/splash_screens/iPhone_13_mini__iPhone_12_mini__iPhone_11_Pro__iPhone_XS__iPhone_X_landscape.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="/images/pwa/splash_screens/iPhone_11_Pro_Max__iPhone_XS_Max_landscape.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="/images/pwa/splash_screens/iPhone_11__iPhone_XR_landscape.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="/images/pwa/splash_screens/iPhone_8_Plus__iPhone_7_Plus__iPhone_6s_Plus__iPhone_6_Plus_landscape.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="/images/pwa/splash_screens/iPhone_8__iPhone_7__iPhone_6s__iPhone_6__4.7__iPhone_SE_landscape.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="/images/pwa/splash_screens/4__iPhone_SE__iPod_touch_5th_generation_and_later_landscape.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 1032px) and (device-height: 1376px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="/images/pwa/splash_screens/13__iPad_Pro_M4_landscape.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="/images/pwa/splash_screens/12.9__iPad_Pro_landscape.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 834px) and (device-height: 1210px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="/images/pwa/splash_screens/11__iPad_Pro_M4_landscape.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="/images/pwa/splash_screens/11__iPad_Pro__10.5__iPad_Pro_landscape.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 820px) and (device-height: 1180px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="/images/pwa/splash_screens/10.9__iPad_Air_landscape.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="/images/pwa/splash_screens/10.5__iPad_Air_landscape.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="/images/pwa/splash_screens/10.2__iPad_landscape.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="/images/pwa/splash_screens/9.7__iPad_Pro__7.9__iPad_mini__9.7__iPad_Air__9.7__iPad_landscape.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 744px) and (device-height: 1133px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="/images/pwa/splash_screens/8.3__iPad_Mini_landscape.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 440px) and (device-height: 956px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="/images/pwa/splash_screens/iPhone_17_Pro_Max__iPhone_16_Pro_Max_portrait.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 402px) and (device-height: 874px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="/images/pwa/splash_screens/iPhone_17_Pro__iPhone_17__iPhone_16_Pro_portrait.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 430px) and (device-height: 932px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="/images/pwa/splash_screens/iPhone_17_Air__iPhone_16_Plus__iPhone_15_Pro_Max__iPhone_15_Plus__iPhone_14_Pro_Max_portrait.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 393px) and (device-height: 852px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="/images/pwa/splash_screens/iPhone_16__iPhone_15_Pro__iPhone_15__iPhone_14_Pro_portrait.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="/images/pwa/splash_screens/iPhone_14_Plus__iPhone_13_Pro_Max__iPhone_12_Pro_Max_portrait.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="/images/pwa/splash_screens/iPhone_16e__iPhone_14__iPhone_13_Pro__iPhone_13__iPhone_12_Pro__iPhone_12_portrait.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="/images/pwa/splash_screens/iPhone_13_mini__iPhone_12_mini__iPhone_11_Pro__iPhone_XS__iPhone_X_portrait.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="/images/pwa/splash_screens/iPhone_11_Pro_Max__iPhone_XS_Max_portrait.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="/images/pwa/splash_screens/iPhone_11__iPhone_XR_portrait.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="/images/pwa/splash_screens/iPhone_8_Plus__iPhone_7_Plus__iPhone_6s_Plus__iPhone_6_Plus_portrait.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="/images/pwa/splash_screens/iPhone_8__iPhone_7__iPhone_6s__iPhone_6__4.7__iPhone_SE_portrait.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="/images/pwa/splash_screens/4__iPhone_SE__iPod_touch_5th_generation_and_later_portrait.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 1032px) and (device-height: 1376px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="/images/pwa/splash_screens/13__iPad_Pro_M4_portrait.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="/images/pwa/splash_screens/12.9__iPad_Pro_portrait.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 834px) and (device-height: 1210px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="/images/pwa/splash_screens/11__iPad_Pro_M4_portrait.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="/images/pwa/splash_screens/11__iPad_Pro__10.5__iPad_Pro_portrait.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 820px) and (device-height: 1180px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="/images/pwa/splash_screens/10.9__iPad_Air_portrait.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="/images/pwa/splash_screens/10.5__iPad_Air_portrait.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="/images/pwa/splash_screens/10.2__iPad_portrait.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="/images/pwa/splash_screens/9.7__iPad_Pro__7.9__iPad_mini__9.7__iPad_Air__9.7__iPad_portrait.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 744px) and (device-height: 1133px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="/images/pwa/splash_screens/8.3__iPad_Mini_portrait.png">
    <!-- ========== CSS ========== -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body id="totop">

    <!-- Mobile Loader (shows only on small screens) -->
    <div id="mb-loader" class="mb-loader" aria-live="polite" aria-busy="true">
        <div class="mb-card">
            <!-- SVG -->
            <svg class="mb-svg" width="140" height="140" viewBox="0 0 140 140" aria-hidden="true">
                <defs>
                    <linearGradient id="g1" x1="0" y1="0" x2="1" y2="1">
                        <stop offset="0%" stop-color="#ff4d4f" />
                        <stop offset="100%" stop-color="#00016e" />
                    </linearGradient>
                </defs>

                <!-- چرخ‌دنده -->
                <g class="gear" transform="translate(70,70)">
                    <circle r="44" fill="none" stroke="url(#g1)" stroke-width="10" opacity=".25" />
                    <!-- دندانه‌ها -->
                    <g class="teeth" fill="url(#g1)">
                        <rect x="-4" y="-62" width="8" height="16" rx="2" />
                        <use href="#t" />
                    </g>
                    <!-- 12 دندانه با چرخش‌های مساوی -->
                    <g id="t" fill="url(#g1)">
                        <!-- 12 clone via <use> -->
                        <use href="#tooth" transform="rotate(30)" />
                    </g>
                    <g id="tooth" fill="url(#g1)">
                        <rect x="-4" y="-62" width="8" height="16" rx="2" />
                        <use href="#tooth2" />
                    </g>
                </g>

                <!-- از آنجا که برخی مرورگرها از use تودرتو ایراد می‌گیرند، دندانه‌ها را دستی می‌سازیم -->
                <g class="gear-teeth" transform="translate(70,70)" fill="url(#g1)">
                    <rect x="-4" y="-62" width="8" height="16" rx="2" transform="rotate(0)" />
                    <rect x="-4" y="-62" width="8" height="16" rx="2" transform="rotate(30)" />
                    <rect x="-4" y="-62" width="8" height="16" rx="2" transform="rotate(60)" />
                    <rect x="-4" y="-62" width="8" height="16" rx="2" transform="rotate(90)" />
                    <rect x="-4" y="-62" width="8" height="16" rx="2" transform="rotate(120)" />
                    <rect x="-4" y="-62" width="8" height="16" rx="2" transform="rotate(150)" />
                    <rect x="-4" y="-62" width="8" height="16" rx="2" transform="rotate(180)" />
                    <rect x="-4" y="-62" width="8" height="16" rx="2" transform="rotate(210)" />
                    <rect x="-4" y="-62" width="8" height="16" rx="2" transform="rotate(240)" />
                    <rect x="-4" y="-62" width="8" height="16" rx="2" transform="rotate(270)" />
                    <rect x="-4" y="-62" width="8" height="16" rx="2" transform="rotate(300)" />
                    <rect x="-4" y="-62" width="8" height="16" rx="2" transform="rotate(330)" />
                </g>

                <!-- خودرو ساده -->
                <g class="car" transform="translate(18,70)">
                    <rect x="8" y="-8" width="80" height="18" rx="8" fill="#ffffff" opacity=".95" />
                    <rect x="24" y="-16" width="42" height="14" rx="6" fill="#ffffff" opacity=".95" />
                    <!-- چرخ‌ها -->
                    <g class="wheel" transform="translate(26,12)">
                        <circle r="8" fill="#fff" />
                        <circle r="4" fill="url(#g1)" />
                    </g>
                    <g class="wheel" transform="translate(70,12)">
                        <circle r="8" fill="#fff" />
                        <circle r="4" fill="url(#g1)" />
                    </g>
                </g>
            </svg>

            <div class="mb-caption">هوای ماشینتو داریم</div>
        </div>
    </div>

    <!-- دکمه باز کردن منو -->
    <button id="openMenuBtn" class="btn btn-default">
        <i class="fa fa-bars"></i>
    </button>

    <!-- سایدبار -->
    <div id="menuOverlay"></div>

    <aside id="sideMenu" class="side-menu">
        <!-- هدر -->
        <div class="side-menu-header">
            <img src="/images/sadr_logo.png" alt="لوگو">
            <h3>منو سایت</h3>
            <button id="closeMenuBtn" class="close-btn">&times;</button>
        </div>

        <!-- آیتم‌ها -->
        <ul class="side-menu-list">
            <li>
                <a href="/">
                    <span class="menu-icon-wrap">
                        <span class="menu-icon"><i class="fa fa-home"></i></span>
                    </span>
                    صفحه اصلی
                </a>
            </li>

            <li class="has-submenu">
                <a href="javascript:void(0);" class="submenu-toggle">
                    <span class="menu-icon-wrap">
                        <span class="menu-icon"><i class="fa fa-ellipsis-h"></i></span>
                    </span>
                    معرفی موتورتو
                    <i class="fa fa-angle-down submenu-arrow"></i>
                </a>
                <ul class="submenu">
                    <li><a href="/aboutus">درباره ما</a></li>
                    <li><a href="/app">دانلود اپلیکیشن</a></li>
                    <li><a href="/faq">سوالات متداول</a></li>
                    <li><a href="/terms">قوانین و مقررات</a></li>
                    <li><a href="/contactus">تماس با ما</a></li>
                </ul>
            </li>

            <li>
                <a href="/blog/all">
                    <span class="menu-icon-wrap">
                        <span class="menu-icon"><i class="fa fa-book"></i></span>
                    </span>
                    وبلاگ
                </a>
            </li>

            @if (isAuthenticated)
            {
                if (isUser)
                {
                    <li class="drop-menu">
                        <a href="/Account/AdminPanel">
                            <span class="menu-icon-wrap">
                                <span class="menu-icon"><i class="fa fa-user"></i></span>
                            </span>پنل مدیریت
                        </a>
                    </li>
                }
                else if (isAdmin)
                {
                    <li class="drop-menu">
                        <a href="/Account/UserAccount">
                            <span class="menu-icon-wrap">
                                <span class="menu-icon"><i class="fa fa-user"></i></span>
                            </span>
                            حساب من
                        </a>
                    </li>
                }
            }

            else
            {
                <li>
                    <a href="/account/loginaccount">
                        <span class="menu-icon-wrap">
                            <span class="menu-icon"><i class="fa fa-user"></i></span>
                        </span>
                        حساب کاربری
                    </a>
                </li>
            }

            <li>
                <a href="/Home/Cart" style="position:relative;">
                    <span class="menu-icon-wrap">
                        <span class="menu-icon"><i class="fa fa-shopping-cart"></i></span>
                        <span id="shoppingCount" class="cart-badge">@CartCount</span>
                    </span>
                    سبد خرید
                </a>
            </li>
        </ul>
        <!-- شبکه‌های اجتماعی -->
        <div class="side-menu-social">
            <a href="https://instagram.com/motoreto.ir" target="_blank"><i class="fa fa-instagram"></i></a>
            <a href="https://t.me/motoreto_ir" target="_blank"><i class="fa fa-paper-plane"></i></a> <!-- تلگرام -->
            <a href="https://wa.me/989128049946" target="_blank"><i class="fa fa-phone"></i></a> <!-- واتساپ -->
        </div>
    </aside>

    @Body

    @*<div class="map">
            <div id="map" style="width:100%;height:300px"></div>
        </div>*@
    <div class="footer-top-area">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-12 col-xs-12 pull-right newsletter">
                    <div class="content">
                        <div class="footer-menu">
                            <h2 class="footer-wid-title">عضویت در خبرنامه</h2>
                            <div class="footer-menu">
                                <ul>
                                    <li>با عضویت در خبرنامه از جدیدترین اخبار موتورتو مطلع شوید</li>
                                </ul>
                            </div><br />
                            <div class="input-group">
                                <input id="textnews2" class="form-control" type="email" placeholder="example@gmail.com" required>
                                <span class="input-group-btn">
                                    <input id="btntext2" class="btn" type="submit" value="ثبت">
                                </span>
                            </div>
                            <div class="text-center">
                                <h6 class="newsletter"><b id="msg2"></b></h6>
                            </div>
                        </div>
                    </div>
                    <div class="certificates">
                        <ul>
                            <li>
                                <img src="/images/reza.png" alt="ساماندهی" title="ساماندهی" />
                            </li>
                            <li>
                                <img src="/images/enamad.png" alt="اینماد" title="اینماد" />
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12 pull-right">
                    <div class="footer-menu">
                        <h2 class="footer-wid-title">تماس با ما </h2>
                        <ul>
                            <li>موبایل : 09128049946</li>
                            <li>تلفن : 02122735588</li>
                            <li>ایمیل : info@motoreto.ir</li>
                            <li>ساعت کاری : شنبه تا چهارشنبه 10 الی 17</li>
                            <li>
                                آدرس دفتر مرکزی : تجریش خیابان شهرداری ساختمان 110
                            </li>
                        </ul>
                        <div class="footer-social">
                            <a href="https://www.instagram.com/motoreto.ir" target="_blank"><i class="fa fa-instagram"></i></a>
                            <a href="https://telegram.me/motoreto.ir" target="_blank"><i class="fa fa-paper-plane-o"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                        </div>
                        <div id="dn">
                            <a href="#">
                                <img src="/images/bazaar-outline-new.png" width="150" alt="موتورتو" title="موتورتو">
                            </a>
                            <a href="#">
                                <img src="/images/googleplay-outline-new.png" width="150" alt="موتورتو" title="موتورتو">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-12 col-xs-12 pull-right">
                    <div class="footer-menu">
                        <h2 class="footer-wid-title">آخرین مقالات</h2>
                        <ul>
                            @*                             @foreach (var blog in content.Blogs.OrderByDescending(current => current.CreateDate).Where(current => current.IsVisible == true).Take(4).ToList())
                            {
                                <li><a href="/blog/@blog.Id/@blog.SefUrl">@blog.Title</a></li>
                            } *@
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-12 col-xs-12 pull-right">
                    <div class="footer-menu">
                        <h2 class="footer-wid-title">لینک ها</h2>
                        <ul>
                            <li><a href="/">صفحه اصلی</a></li>
                            @*<li><a href="/gallery">گالری</a></li>*@
                            <li><a href="/aboutus">درباره ما</a></li>
                            <li><a href="/blog/all">وبلاگ</a></li>
                            <li><a href="/contactus">تماس با ما</a></li>
                            <li><a href="/app">دانلود اپلیکیشن</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End footer top area -->
    <div class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright">
                        <p>&copy; تمامی حقوق برای  <span class="footer-brand">موتورتو</span> محفوظ است .</p>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End footer bottom area -->
    <div id="success-modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content shadow-lg">
                <div class="modal-header border-0">
                    <h5 class="modal-title text-success">
                        <i class="fa fa-check-circle"></i> محصول به سبد خرید اضافه شد
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="بستن">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body text-center">
                    <p class="mb-3">می‌خواهید ادامه خرید دهید ؟</p>
                </div>

                <div class="modal-footer justify-content-center border-0">
                    <a href="/Home/Cart" class="btn btn-primary px-4">
                        ادامه فرآیند خرید
                    </a>
                    <a href="/#specialproducts" class="btn btn-outline-warning px-4">
                        انتخاب محصولات بیشتر
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="scroll-up" style="display: block;"> <a href="#totop"><i class="fa fa-arrow-up"></i></a></div>
    <div id="mobile-tabs">
        <a class="mobile-tab-wrapper @(IsActive("product") ? "active" : "")" href="/#categories">
            <i class="fa fa-bars"></i>
            <small>دسته بندی</small>
        </a>

        <a class="mobile-tab-wrapper link @(IsActive("cart") ? "active" : "")" href="/Home/Cart" style="position:relative;">
            <i class="fa fa-shopping-cart" style="font-size:30px"></i>
            <span id="shoppingCountMobile" class="cart-badge">@CartCount</span>
            <small>سبد خرید</small>
        </a>

        <div class="nav-home">
            <a href="/" class="home-btn @(IsHomeActive() ? "active" : "")">
                <i class="fa fa-home"></i>
            </a>
        </div>

        @if (isAuthenticated)
        {
            if (isUser)
            {
                <a class="mobile-tab-wrapper" href="/Account/AdminPanel">
                    <i class="fa fa-user"></i>
                    <small>پنل مدیریت</small>
                </a>
            }
            if (isAdmin)
            {
                <a class="mobile-tab-wrapper" href="/Account/UserAccount">
                    <i class="fa fa-user"></i>
                    <small>حساب من</small>
                </a>
            }
        }
        else
        {
            <a class="mobile-tab-wrapper" href="/account/loginaccount">
                <i class="fa fa-user"></i>
                <small>حساب کاربری</small>
            </a>
        }

        <!-- پشتیبانی -->
        <a class="mobile-tab-wrapper link @(IsActive("contactus") ? "active" : "")" href="/contactus">
            <i class="fa fa-user"></i>
            <small>پشتیبانی</small>
        </a>
    </div>

    <a href="tel:+989128049946" class="fab-call" aria-label="تماس با موتورتو ۰۹۱۲۸۰۴۹۹۴۶">
        <svg class="fab-call__icon" viewBox="0 0 24 24" aria-hidden="true">
            <path fill="currentColor"
                  d="M6.62 10.79a15.053 15.053 0 006.59 6.59l2.2-2.2a1 1 0 01.98-.26c1.08.29 2.25.45 3.46.45a1 1 0 011 1v3.59a1 1 0 01-1 1C10.86 22 2 13.14 2 2.15a1 1 0 011-1H6.6a1 1 0 011 1c0 1.21.16 2.38.45 3.46a1 1 0 01-.26.98l-2.17 2.2z" />
        </svg>
        @*<span class="fab-call__label">۰۹۱۲۸۰۴۹۹۴۶</span>*@
    </a>
    <div id="pwa-install-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" dir="rtl">
        <div class="modal-dialog modal-sm">
            <div class="modal-content pwa-card">
                <div class="pwa-header">
                    <img src="/images/pwa/icon-192-maskable.png" alt="Motoreto" width="48" height="48">
                    <div>
                        <h4 class="pwa-title">نصب وب‌اپلیکیشن موتورتو</h4>
                        <small>دسترسی سریع‌تر، تجربه بهتر</small>
                    </div>
                </div>

                <div class="pwa-body">
                    <p class="m-b-none">می‌خوای نسخه وب‌اپلیکیشن موتورتو رو نصب کنی؟</p>

                    <!-- راهنمای iOS (فقط وقتی لازم شد نمایش می‌دیم) -->
                    <div id="pwa-ios-steps" style="display:none; margin-top:10px;">
                        <ol class="pwa-steps">
                            <li>
                                <span class="ios-share-icon" aria-hidden="true">
                                    <!-- iOS Share SVG -->
                                    <svg viewBox="0 0 24 24" width="18" height="18" focusable="false">
                                        <!-- پیکان رو به بالا -->
                                        <path d="M12 3l3.5 3.5-.7.7L12.5 4.6V14h-1V4.6L9.2 7.2l-.7-.7L12 3z" />
                                        <!-- جعبه پایین -->
                                        <path d="M6 10h1v9h10v-9h1v10a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V10z" />
                                    </svg>
                                </span>
                                روی دکمه <b>Share</b> (آیکن مربع با فلش) بزن.
                            </li>
                            <li><b>Add to Home Screen</b> یا <b>افزودن به صفحهٔ اصلی</b> رو انتخاب کن.</li>
                            <li>تأیید کن تا نصب شود.</li>
                        </ol>
                    </div>
                </div>

                <div class="pwa-actions">
                    <button id="pwa-install-yes" type="button" class="btn btn-primary btn-block">نصب کن</button>
                    <button id="pwa-install-no" type="button" class="btn btn-link btn-block">فعلاً نه</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Splash -->
    <div id="pwa-splash" class="pwa-splash" hidden aria-hidden="true" dir="rtl">
        <div class="pwa-splash__card">
            <div class="pwa-splash__ring"></div>
            <img src="/images/pwa/icon-192-maskable.png" alt="Motoreto" class="pwa-splash__logo" width="96" height="96">
            <h3 class="pwa-splash__title">موتورتو</h3>
            <p class="pwa-splash__subtitle">هوای ماشینتو داریم</p>
            <div class="pwa-splash__loader"></div>
        </div>
    </div>

    <!-- ========== JAVASCRIPT ========== -->
    <!-- jQuery -->
    <script src="/js/jquery-1.10.2.js"></script>

    <!-- Bootstrap JS -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- سایر پلاگین‌ها -->
    <script src="/js/jquery.easing.1.3.min.js"></script>
    <script src="/js/jquery.sticky.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/bxslider.min.js"></script>
    <script src="/js/script.slider.js"></script>

    <!-- اسکریپت‌های سایت -->
    <script src="/js/main.js"></script>
    <script src="/js/MainLayout.js"></script>

</body>
</html>
